.confirmation {
  margin: auto;
  padding: 32px;
  display: flex;
  max-width: 443px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: $light;
  background: #1f2733;
  border: 1px solid #2c3645;
  border-radius: 16px;
  box-shadow: 0 12px 16px -4px rgba(16, 24, 40, .06), 0 4px 6px -2px rgba(16, 24, 40, .02);

  @include media-breakpoint-down(sm) {
    padding: 16px 12px;
  }

  &Header {
    margin-bottom: 40px;

    h6 {
      margin-bottom: 4px;
    }

    p {
      margin-bottom: 0;
      font-size: 14px;
      line-height: 1.2;
      color: #98a2b3;
    }
  }

  form {
    margin-bottom: 12px;
    display: flex;
    justify-content: center;

    input {
      margin-right: 12px;
      width: 48px;
      height: 48px;
      font-size: 32px;
      line-height: 1.2;
      font-weight: 600;
      text-align: center;
      letter-spacing: -.02em;
      color: #d0d5dd;
      background: #2f3947;
      border: 1px solid #3d4959;
      border-radius: 8px;
      box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
      caret-color: #667085;

      @include media-breakpoint-down(sm) {
        margin-right: 4px;
        width: 40px;
        height: 40px;
        font-size: 24px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &Icon {
    margin: 0 auto 24px;
    width: 72px;
    height: 72px;
    background: #2f3947 url(../img/circle-check.svg) no-repeat center;
    border-radius: 50%;
  }

  &Bottom {
    margin-top: 56px;
    width: 100%;
  }

  &Action {

    p {
      margin-bottom: 0;
      font-size: 14px;
      line-height: 1.2;
      color: #98a2b3;

      span {
        color: $light;
      }
    }

    a {
      font-size: 14px;
      line-height: 1.43;
      color: $violet;
    }
  }

  &Footer {
    display: flex;
    justify-content: center;

    .btn {
      margin-right: 20px;
      min-width: 180px;

      @include media-breakpoint-down(sm) {
        min-width: 100px;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &Next {
  }

  &_Security {

    .confirmationAction {

      & + .confirmationAction {
        margin-bottom: 30px;
      }
    }
  }

  &_Stages {
    padding: 0;
    border: 0;

    .confirmationHeader {
      width: 100%;
    }
  }

  &_StagesLeft {

    .confirmationHeader {
      width: 100%;
      text-align: left;
    }
  }

  &_Wide {
    max-width: 100%;
    border: 0;

    .btn {
      max-width: 356px;
    }
  }
}
