mixin confirmation(data)
  .confirmation&attributes(attributes)
    .confirmationHeader
      if data && data.type == 'confirmed'
        .confirmationIcon
      h6= data.header
      p= data.subheader
    if data && data.type == 'confirmed'
      if data && data.modifier == 'stage'
        a.btn.btn-primary.btn-xs.mt-15.w-100.jsStageNext(href="#") Get started
      else
        if data && data.btn
          a.btn.btn-primary.btn-xs.mt-15.w-100(href="#")= data.btn
        else
          a.btn.btn-primary.btn-xs.mt-15.w-100(href="#") Get started
    else
      form(action="#", method="GET")
        - for (var i = 0; i < data.inputs; ++i) {
          input(type="text", maxlength="1")
        - }
      if data && data.type == 'resend'
        .confirmationAction
          p Resend code in 
            span 49 seconds
      if data && data.link
        .confirmationAction
          a.link(href="#")= data.link
      .confirmationBottom
        if data && data.bottomLink
          .confirmationAction.mb-30
            a.link(href="#")= data.bottomLink
        if data && data.modifier == 'security'
          a.btn.btn-primary.btn-xs.w-100.confirmationNext(href="#", disabled) Submit
        else if data && data.btn
          a.btn.btn-primary.w-100(href="#", disabled) Next
        else
          .confirmationFooter
            a.btn.btn-link.btn-xs(href="#") Back
            a.btn.btn-primary.btn-xs.confirmationNext(href="#", disabled) Next
