.security {
  padding: 24px 20px 20px;

  @include media-breakpoint-down(sm) {
    padding: 16px 12px;
  }

  &Header {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }

    h6 {
      margin-bottom: 0;

      @include media-breakpoint-down(sm) {
        margin-bottom: 5px;
      }
    }
  }

  &Content {
  }

  .attribute {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      margin-top: 2px;
      width: 16px;
      height: 16px;
      background: #2f3947 url(../img/check-gray.svg) no-repeat center;
      border-radius: 16px;
    }

    .link {
      margin-left: 14px;
    }

    &_Active {

      &:before {
        background: #2f3947 url(../img/check-green.svg) no-repeat center;
        background-size: 8px 7px;
      }
    }

    &_Pending {

      &:before {
        background: #2f3947 url(../img/check-yellow.svg) no-repeat center;
        background-size: 8px 7px;
      }
    }
  }
}
