mixin security(data)
  .security&attributes(attributes)
    .securityHeader
      h6 Increase your account security
      a.link.link_Arrow(href="#") Security settings
    .securityContent
      .attribute.attribute_Active.p.sm Email confirmed
      if data && data.type == 'pending'
        .attribute.attribute_Pending.p.sm Complete identity verification
      else if data && data.type == 'verified'
        .attribute.attribute_Active.p.sm Identity verification comleted
      else
        .attribute.p.sm Complete identity verification
          a.link(href="#") Verify
      .attribute.p.sm Confirm phone number
        a.link(href="#") Confirm
      .attribute.p.sm Enable 2FA
        a.link(href="#") Enable
