.modal {
  padding: 32px;
  display: none;
  width: 100%;
  max-width: 518px;
  color: #fff;
  background: $dark;
  border: 1px solid #2c3645;
  border-radius: 16px;
  box-shadow: 0 12px 16px -4px rgba(16, 24, 40, .06), 0 4px 6px -2px rgba(16, 24, 40, .02);

  @include media-breakpoint-down(sm) {
    padding: 24px 16px;
  }

  &__btns-wrapper {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
  }

  &__icon {
    margin: 0 auto 24px;
    width: 72px;
    height: 72px;
    border-radius: 50%;

    &--success {
      background: #2f3947 url(../img/icon-success.svg) no-repeat center;
    }
  }

  &__close {
  }

  &Auth {
    display: flex;
    align-items: flex-start;
  }

  &AuthIcon {
    margin-right: 20px;
    width: 72px;
    height: 72px;
    flex-shrink: 0;
    background: #2f3947 url(../img/icon-alert.svg) no-repeat center;
    border-radius: 50%;
  }

  &AuthContent {
    padding-top: 8px;

    h6 {
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 0;
    }
  }

  &--btn {

    .carousel__button.is-close {
      display: none;
    }
  }

  &--wide {
    max-width: 650px;
  }

  &--medium {
    max-width: 518px;
  }

  &--narrow {
    max-width: 440px;
  }

  &--thin {
    padding: 40px 32px;
    max-width: 376px;

    @include media-breakpoint-down(sm) {
      padding: 24px 16px;
    }
  }
}
