mixin modal(data)
  .modal&attributes(attributes)
  
    if data && data.type == 'delete'
      h6.mb-20.mb-xl-30 Delete the exchange
      p.mb-0 Are you sure you want to delete the exchange for CompX?
      .modal__btns-wrapper
        a.btn.btn-link.px-35(href="#") Delete
        a.btn.btn-primary.px-35(href="#") Cancel
        
    else if data && data.type == 'cancel'
      h6.mb-10 Cancel order
      p.mb-0 Are you sure you want to cancel order for CompX? <br>The action cannot be undone 
      .modal__btns-wrapper
        a.btn.btn-link.px-35(href="#") Cancel order
        a.btn.btn-primary.px-35.modal__close(href="#") Go back
        
    else if data && data.type == 'verification'
      +stages({
        type: 'verification',
        list: ['Scan QR code', 'Enter code', 'Backup keys']
      })
        
    else if data && data.type == 'authGoogle'
      .modalAuth
        .modalAuthIcon
        .modalAuthContent
          h6.mb-5 Are you sure you want to remove Google authenticator?
          p.mb-0 Google authenticator adds an extra layer of security to your account.
          .modal__btns-wrapper
            a.btn.btn-link.btn-xs.px-35(href="#") Remove
            a.btn.btn-primary.btn-xs.px-35.modal__close(href="#") Cancel
        
    else if data && data.type == 'authEmail'
      .modalAuth
        .modalAuthIcon
        .modalAuthContent
          h6.mb-10 Are you sure you want to remove email verification?
          p.mb-0 Email verification is required for orders and other actions. Your actions will be limited until you verify your email address.
          .modal__btns-wrapper
            a.btn.btn-link.btn-xs.px-35(href="#") Remove
            a.btn.btn-primary.btn-xs.px-35.modal__close(href="#") Cancel
        
    else if data && data.type == 'cancel-sub'
      h6.mb-10 Cancel subscription
      p.mb-0 Are you sure you want to cancel subscription for the amount of $98 000/mo for CompX? <br>The action cannot be undone
      .modal__btns-wrapper
        a.btn.btn-link.px-35(href="#") Cancel subscription
        a.btn.btn-primary.px-35.modal__close(href="#") Go back
        
    else if data && data.type == 'success'
      .text-center
        .modal__icon.modal__icon--success
        h6.mb-10 We got your order
        p.mb-30 This will approved within 1 business day
        a.btn.btn-primary.btn-xs.w-100.modal__close(href="#") Got it
        
    else if data && data.type == 'payment'
      form.form(action="#" method="POST")
        h6.mb-25 Choose a payment method
        +method({
          icon: 'card.svg',
          title: 'Bank account ending in 8955',
          id: 'payment1',
          name: 'payment'
        })
        +method({
          icon: 'card.svg',
          title: 'Another bank payment',
          id: 'payment2',
          name: 'payment'
        })
        +method({
          icon: 'wise.png',
          title: 'Wise',
          id: 'payment3',
          name: 'payment'
        })
        +method({
          icon: 'paypal.svg',
          title: 'PayPal',
          id: 'payment4',
          name: 'payment'
        })
        +method({
          icon: 'crypto.svg',
          title: 'Crypto wallet',
          id: 'payment5',
          name: 'payment'
        })
        button.btn.btn-primary.btn-xs.mt-15.w-100(type="submit") Choose
        
    else if data && data.type == 'paymentNew'
      form.form(action="#" method="POST")
        h6.mb-25 Choose a payment method
        +method({
          icon: 'card.svg',
          title: 'Bank payment',
          id: 'payment1',
          name: 'payment'
        })
        +method({
          icon: 'wise.png',
          title: 'Wise',
          id: 'payment3',
          name: 'payment'
        })
        +method({
          icon: 'paypal.svg',
          title: 'PayPal',
          id: 'payment4',
          name: 'payment'
        })
        +method({
          icon: 'crypto.svg',
          title: 'Crypto wallet',
          id: 'payment5',
          name: 'payment'
        })
        button.btn.btn-primary.btn-xs.mt-15.w-100(type="submit") Choose
      
    else if data && data.type == 'order'
      h6.mb-20.mb-xl-40 Exchange ordering
      form.form.form--dark(action="#", method="POST")
        .form__item.form__item--optional
          .form__label.form-label Company
          input.input.form-control(type="text", name="company", placeholder="Company name")
        .form__item.form__item--optional
          .form__label.form-label Logo
          +file
        .form__item.form__item--optional
          .form__label.form-label Domain
          input.input.form-control(type="text", name="domain", placeholder="Domain name")
        .form__item
          .form__label.form-label Language
          +select({
            placeholder: 'Select one or more',
            multiple: true
          })
            option English
            option Русский
            option Português
            option 简体中文
            option Español
        .modal__btns-wrapper
          a.btn.btn-link.px-35(href="#") Cancel
          a.btn.btn-primary.px-35(href="#") Order
