.attribute {
  margin-bottom: 8px;
  display: flex;
  align-items: flex-start;
  line-height: 1.4;
  color: $light;

  &:before {
    margin-top: 3px;
    margin-right: 12px;
    display: block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    content: '';
    background: url(../img/cabinet-feature.svg) no-repeat center;
    background-size: contain;
  }
}
