mixin table(data)
  .table&attributes(attributes)
    +modal({
      type: 'success'
    }).modal--btn.modal--narrow#success
    +table__row({
      type: 'header'
    }).table__row--header
    if data && data.type == 'empty'
      .table__message You have no any exchanges yet<br> Order the first
    else
      +table__row({
        dayStart: '5/10/2022',
        time: '10:08 PM',
        title: 'Dfocom corparation',
        status: 'pending',
        price: '$1 103 000',
        info: [['Demo expires', '5/28/2022'], ['Plan', 'Basic, Business']],
        btn: 'Buy subscription',
        links: ['More details', 'Cancel order']
      })
      +table__row({
        dayStart: '5/20/2022',
        time: '5:16 PM',
        title: 'CompX',
        status: 'active',
        price: '$135 010',
        type: 'demo',
        info: [['Demo expires', '5/28/2022'], ['Features', 'Basic']],
        btn: 'Buy subscription',
        links: ['More details', 'Cancel order']
      })
      +table__row({
        dayStart: '5/18/2022',
        time: '12:37 PM',
        title: 'Abcompany group',
        status: 'expired',
        price: '$96 750',
        type: 'subscription',
        info: [['Demo expired', '5/28/2022'], ['Features', 'Basic']],
        btn: 'Buy subscription',
        links: ['More details', 'Cancel order']
      })
      +table__row({
        dayStart: '5/18/2022',
        time: '12:37 PM',
        title: 'Abcompany group',
        status: 'active',
        price: '$896 000',
        info: [['Demo expires', '5/28/2022'], ['Features', 'Basic, Business']],
        btn: 'Buy subscription',
        links: ['More details', 'Cancel order']
      })
      +table__row({
        dayStart: '5/18/2022',
        time: '12:37 PM',
        title: 'Abcompany group',
        status: 'rejected',
        price: '$896 045',
        info: [['Demo expires', '5/28/2022'], ['Features', 'Basic, Business']],
        btn: 'Buy subscription',
        links: ['More details', 'Cancel order']
      })
      +table__row({
        dayStart: '5/10/2022',
        time: '10:08 PM',
        title: 'Dfocom corparation',
        status: 'pending',
        price: '$1 103 000',
        info: [['Demo expires', '5/28/2022'], ['Features', 'Basic, Business']],
        btn: 'Buy subscription',
        links: ['More details', 'Cancel order']
      })
      +table__row({
        dayStart: '5/10/2022',
        time: '10:08 PM',
        title: 'Dfocom corparation',
        status: 'suspended',
        price: '$1 103 000',
        info: [['Last billing date', '5/18/2022'], ['Features', 'Basic, Business']],
        btn: 'Change payment method',
        links: ['More detail', 'Cancel subscription']
      })
    
    
    
mixin table__row(data)
  .table__row&attributes(attributes)
    if data && data.type == 'header'
      .table__row-header
        .table__item
          .table__item-header.table__item-header--sort Data ordered
        .table__item
          .table__item-header.table__item-header--sort Business name
        .table__item
          .table__item-header Status
        .table__item.table__item--end
          .table__item-header.table__item-header--sort Price/mo
        .table__item
          .table__item-header Exchange
    else
      .table__row-header.table__row-header--btn
        .table__item(data-header="Data ordered")
          .table__item-day= data.dayStart
          span.table__item-gray= data.time
        .table__item.table__item--title(data-header="Business name")= data.title
        .table__item(data-header="Status")
          if data && data.status == 'expired'
            .status(class='status--' + data.status) Demo expired
          else
            .status(class='status--' + data.status)= data.status
        .table__item.table__item--end(data-header="Price/mo")= data.price
        .table__item(data-header="Exchange")
          if data && data.type == 'demo'
            .table__item-demo
              a.table__item-btn.table__item-btn--color(href="#") Go to Demo
              .table__item-comment 10 days left
          else if data && data.type == 'subscription'
            a.table__item-btn.table__item-btn--primary(href="#") Buy subscription
          else
            a.table__item-btn(href="#success" data-fancybox) Go
      .table__row-content
        if data && data.status == 'suspended'
          +alert
        each item in data.info
          +parameter({
            header: item[0],
            content: item[1]
          }).parameter--sm
        .table__row-controls
          a.btn.btn-primary.btn-xs.table__control-btn(href="#")= data.btn
          each item in data.links
            if item == 'Cancel order'
              a.btn.btn-link.btn-xs.table__control-link(href="#cancel" data-fancybox)= item
              +modal({
                type: 'cancel'
              })#cancel
            else if item == 'Cancel subscription'
              a.btn.btn-link.btn-xs.table__control-link(href="#cancel-sub" data-fancybox)= item
              +modal({
                type: 'cancel-sub'
              })#cancel-sub
            else
              a.btn.btn-link.btn-xs.table__control-link(href="#")= item
      a.table__more(href="#") Details
