.table {
  background: $dark;
  border-radius: 8px;

  @include media-breakpoint-down(sm) {
    background: transparent;
    border-radius: 0;
  }

  &__message {
    padding: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    color: $light;
  }

  &__row {
    position: relative;
    border-bottom: 1px solid #263040;

    @include media-breakpoint-down(md) {
      padding-right: 44px;
    }

    @include media-breakpoint-down(sm) {
      margin-bottom: 20px;
      padding-right: 0;
      overflow: hidden;
      background: $dark;
      border-bottom: 0;
      border-radius: 8px;
    }

    &:last-child {
      border-bottom: 0;
    }

    &--header {

      @include media-breakpoint-down(md) {
        display: none;
      }

      .table__item {
        padding-top: 12.5px;
        padding-bottom: 12.5px;
      }
    }
  }

  &__row-header {
    padding-left: 12px;
    display: flex;

    @include media-breakpoint-down(md) {
      padding-left: 0;
      flex-wrap: wrap;
    }
  }

  &__row-content {
    padding: 24px 32px 32px;
    display: none;
    border-top: 1px solid #263040;

    @include media-breakpoint-down(xl) {
      padding: 24px;
    }

    @include media-breakpoint-down(sm) {
      padding: 12px;
    }
  }

  &__item {
    padding: 12.5px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 14px;
    line-height: 1.4;
    color: $light;

    &:before {

      @include media-breakpoint-down(md) {
        margin-bottom: 4px;
        font-size: 12px;
        line-height: 1.4;
        content: attr(data-header);
        color: #9fa4ac;
      }
    }

    @include media-breakpoint-down(xl) {
      padding: 12px;
      font-size: 12px;
    }

    @include media-breakpoint-down(md) {
      width: auto !important;
      flex: 1 1 50% !important;
      flex-direction: column;
      align-items: flex-start;
    }

    &:nth-child(1) {
      width: 16%;
      flex-shrink: 1;
      flex-grow: 0;

      @include media-breakpoint-down(xl) {
        width: 17.7%;
      }

      @include media-breakpoint-down(lg) {
        width: 20%;
      }
    }

    &:nth-child(2) {
      width: 41.5%;

      @include media-breakpoint-down(xxl) {
        width: 35%;
      }

      @include media-breakpoint-down(xl) {
        width: 29.3%;
      }
    }

    &:nth-child(3) {
      width: 10.5%;

      @include media-breakpoint-down(xxl) {
        width: 11.5%;
      }

      @include media-breakpoint-down(xl) {
        width: 13.5%;
      }
    }

    &:nth-child(4) {
      width: 12%;

      @include media-breakpoint-down(xxl) {
        width: 14.5%;
      }
    }

    &:nth-child(5) {
      width: 20%;

      @include media-breakpoint-down(xxl) {
        width: 25%;
      }

      @include media-breakpoint-down(lg) {
        width: 22.8%;
      }
    }

    &--end {
      justify-content: flex-end;
      text-align: right;
    }

    &--title {
      cursor: pointer;
    }
  }

  &__item-header {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.4;
    color: #9fa4ac;

    @include media-breakpoint-down(xl) {
      align-items: flex-start;
    }

    &--sort {
      cursor: pointer;

      @include transition;

      &:hover {
        opacity: .8;
      }

      &:after {
        margin-top: -1px;
        margin-left: 6px;
        display: block;
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        content: '';
        background: url(../img/icon-sorting.svg) no-repeat center;
      }
    }
  }

  &__item-day {
    margin-right: 3px;
  }

  &__item-gray {
    color: #9fa4ac;
  }

  &__item-btn {
    padding: 2px 8px;
    font-size: 14px;
    line-height: 1.43;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
    color: #5c6372;
    border: 1px solid #5c6372;
    border-radius: 4px;

    @include transition;

    @include media-breakpoint-down(xl) {
      font-size: 12px;
    }

    &:hover {
      color: $violet;
      border-color: $violet;
    }

    &--color {
      color: #90b6ff;
    }

    &--primary {
      color: #fff;
      background: $primary;
      border: 0;
    }
  }

  &__item-demo {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(xl) {
      flex-direction: column;
      align-items: flex-start;
    }

    @include media-breakpoint-down(sm) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__item-comment {
    margin-left: 10px;
    font-size: 12px;
    line-height: 1.4;
    color: $gray-dark;

    @include media-breakpoint-down(xl) {
      margin-top: 4px;
      margin-left: 0;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 0;
      margin-left: 10px;
    }
  }

  &__row-controls {
    margin-top: 8px;
  }

  &__control-btn {
    margin-right: 20px;

    @include media-breakpoint-down(sm) {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  &__control-link {

    @include media-breakpoint-down(sm) {
      margin-bottom: 10px;
    }
  }

  &__more {
    display: none;

    @include media-breakpoint-down(sm) {
      padding: 12px 32px;
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      text-align: center;
      text-decoration: none;
      color: #fff;
      background: $primary;
    }

    &:hover {
      color: #fff;
    }

    &:after {
      margin-left: 8px;
      display: block;
      width: 16px;
      height: 16px;
      content: '';
      background: url(../img/arrow-white.svg) no-repeat center;
      background-size: contain;
    }

    &--active {

      &:after {
        transform: rotate(180deg);
      }
    }
  }
}
