.visible {
  position: relative;
  margin-left: 4px;
  display: block;
  width: 20px;
  height: 20px;
  background: url(../img/icon-visibility.svg) no-repeat center;
  background-size: contain;

  &:hover {

    span {
      display: block;
    }
  }

  span {
    position: absolute;
    z-index: 2;
    top: calc(100% + 12px);
    left: 50%;
    padding: 8px 12px;
    display: none;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 500;
    white-space: nowrap;
    color: #fff;
    background: $black;
    border-radius: 8px;
    transform: translateX(-50%);

    &:before {
      position: absolute;
      top: -3px;
      left: calc(50% - 6px);
      display: block;
      width: 12px;
      height: 12px;
      content: '';
      background: $black;
      transform: rotate(45deg);
    }

    &:after {
      display: none;
      font-size: 12px;
      content: 'Show balance';
    }
  }

  &_Active {
    background: url(../img/icon-hidden.svg) no-repeat center;
    background-size: contain;

    span {
      font-size: 0;

      &:after {
        display: block;
      }
    }
  }
}

.js-visible-content {
  position: relative;

  &--hidden {

    &:after {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      content: '********';
      background: #1f2733;
    }
  }
}
