h1,
.h1 {
  font-size: 72px;
  line-height: 1.25;
  font-weight: 600;
  letter-spacing: -.02em;

  @include media-breakpoint-down(lg) {
    font-size: 48px;
  }

  @include media-breakpoint-down(md) {
    font-size: 32px;
  }
}

h2,
.h2 {
  font-size: 48px;
  line-height: 1.25;
  font-weight: 600;
  letter-spacing: -.02em;

  @include media-breakpoint-down(lg) {
    font-size: 32px;
  }

  @include media-breakpoint-down(md) {
    font-size: 24px;
  }
}

h3,
.h3 {
  font-size: 40px;
  line-height: 1.1;
  font-weight: 600;
  letter-spacing: -.02em;

  @include media-breakpoint-down(lg) {
    font-size: 32px;
  }

  @include media-breakpoint-down(md) {
    font-size: 24px;
  }
}

h4,
.h4 {
  font-size: 36px;
  line-height: 1.22;
  font-weight: 600;
  letter-spacing: -.02em;

  @include media-breakpoint-down(lg) {
    font-size: 28px;
  }

  @include media-breakpoint-down(md) {
    font-size: 24px;
  }
}

h5,
.h5 {
  font-size: 30px;
  line-height: 1.27;
  font-weight: 600;

  @include media-breakpoint-down(lg) {
    font-size: 26px;
  }

  @include media-breakpoint-down(md) {
    font-size: 22px;
  }
}

h6,
.h6 {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;

  @include media-breakpoint-down(md) {
    font-size: 18px;
  }

  &.lg {
    font-size: 24px;
    line-height: 1;
    font-weight: 500;
  }
}

p,
.p {
  font-size: 16px;
  line-height: 1.5;

  @include media-breakpoint-down(md) {
    font-size: 14px;
  }

  &.lg {
    font-size: 20px;

    @include media-breakpoint-down(lg) {
      font-size: 18px;
    }

    @include media-breakpoint-down(md) {
      font-size: 16px;
    }
  }

  &.sm {
    font-size: 14px;

    @include media-breakpoint-down(md) {
      font-size: 13px;
    }
  }
}

.fw-thin {
  font-weight: 100;
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.fw-black {
  font-weight: 900;
}

.text-gray {
  color: $gray;
}

.text-light {
  color: $light;
}

.text-gray-dark {
  color: $gray-dark;
}

ul {

  li {
    font-size: 16px;
    line-height: 1.5;

    @include media-breakpoint-down(md) {
      font-size: 14px;
    }
  }
}

ol {

  li {
    font-size: 16px;
    line-height: 1.5;

    @include media-breakpoint-down(md) {
      font-size: 14px;
    }
  }
}

table {
}

tr {
}

th {
}

td {
}

a {
}

input {

  &:focus {
    outline: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}

select {
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
}
