.application {

  &__picture {
    position: relative;
  }

  &__picture-img {
    position: absolute;
    top: 0;
    right: 16px;
    max-width: none;
  }

  &__form {
    padding: 73px 48px 73px 64px;

    @include media-breakpoint-down(xl) {
      padding: 32px 24px;
    }

    @include media-breakpoint-down(md) {
      padding: 32px 0;
    }
  }
}
