mixin application(data)
  .application&attributes(attributes)
    .row
      .col-lg-6.d-none.d-lg-block
        .application__picture
          img.application__picture-img(src="./img/application.jpg", alt)
      .col-lg-6
        .application__form
          +form
