mixin step(data)
  .step&attributes(attributes)
    if data && data.number == 'check'
      .stepNumber.stepNumber_Check
    else
      .stepNumber= data.number
    if data && data.type == 'active'
      .stepNumber.stepNumber_Active= data.number
    else if data && data.type == 'pending'
      .stepNumber.stepNumber_Pending= data.number
    .stepWrapper
      .stepHeader
        p.sm= data.title
      .stepContent
        p.sm!= data.dscr
        if data && data.btn
          a.btn.btn-primary.btn-xs(href="#")= data.btn
