.step {
  position: relative;
  padding-left: 37px;
  display: flex;

  @include media-breakpoint-down(md) {
    margin-bottom: 10px;
  }

  &:last-child {

    @include media-breakpoint-down(md) {
      margin-bottom: 0;
    }

    &:after {
      display: none;
    }
  }

  &:after {
    margin: 10px 8px;
    display: block;
    width: 80px;
    height: 1px;
    flex-shrink: 0;
    content: '';
    border-bottom: 1px dashed #5c6372;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &Wrapper {
    max-width: 162px;

    @include media-breakpoint-down(md) {
      max-width: 100%;
    }
  }

  &Header {

    p {
      margin-bottom: 2px;
      font-size: 14px;
      line-height: 1.4;
      color: $light;
    }
  }

  &Number {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 28px;
    height: 28px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 500;
    color: #98a2b3;
    background: #2f3947;
    border-radius: 50%;

    &_Check {
      background: #2f3947 url(../img/check-green.svg) no-repeat center;
    }

    &_Active {
      color: #26ff99;
    }

    &_Pending {
      color: #d0bf66;
    }
  }

  &Content {

    p {
      margin-bottom: 8px;
      color: #98a2b3;
    }
  }
}
