mixin plan(data)
  .plan&attributes(attributes)
    h2.plan__price= data.price
    h6.plan__title= data.title
    p.plan__period Billed monthly
    ul.plan__features-list
      each item in data.features
        li.plan__feature= item
    a.btn.btn-primary.plan__btn.w-100(href="#") Get started
