.plan {
  position: relative;
  padding: 40px 32px 32px;
  display: flex;
  width: 100%;
  flex-direction: column;
  text-align: center;
  background: #fff;
  border: 1px solid #f4f7fa;
  border-radius: 16px;
  box-shadow: 0 12px 16px -4px rgba(16, 24, 40, .06), 0 4px 6px -2px rgba(16, 24, 40, .02);

  @include media-breakpoint-down(xl) {
    padding: 24px;
  }

  @include media-breakpoint-down(lg) {
    margin-bottom: 32px;
    align-items: center;
  }

  @include media-breakpoint-down(md) {
    margin-bottom: 24px;
  }

  &__price {
    margin-bottom: 16px;
  }

  &__title {
    margin-bottom: 4px;
    font-weight: 600;
  }

  &__period {
    margin-bottom: 32px;
    color: $gray;
  }

  &__features-list {
    margin-bottom: 23px;
    padding-left: 0;
    text-align: left;

    @include media-breakpoint-down(xl) {
      margin-bottom: 16px;
    }
  }

  &__feature {
    position: relative;
    margin-bottom: 16px;
    padding-left: 36px;
    list-style: none;
    color: $gray;

    @include media-breakpoint-down(md) {
      padding-left: 32px;
    }

    &:before {
      position: absolute;
      left: 0;
      display: block;
      width: 24px;
      height: 24px;
      content: '';
      background: url(../img/list-icon.svg) no-repeat center;
      background-size: contain;

      @include media-breakpoint-down(md) {
        width: 20px;
        height: 20px;
      }
    }
  }

  &__btn {
    margin-top: auto;
  }

  &--popular {

    @include media-breakpoint-down(lg) {
      padding-top: 40px;
      border: 1px solid $primary;
    }

    &:before {
      position: absolute;
      top: -32px;
      right: -69px;
      padding-left: 69px;
      display: inline-flex;
      height: 62px;
      font-size: 14px;
      line-height: 1.43;
      font-weight: 500;
      content: 'Most popular!';
      color: $primary;
      background: url(../img/plan-arrow.svg) no-repeat left top 4px;

      @include media-breakpoint-down(xl) {
        top: -20px;
        right: 0;
        padding-left: 44px;
        height: 40px;
        background-size: contain;
      }

      @include media-breakpoint-down(lg) {
        top: 0;
        right: 0;
        padding: 10px;
        width: auto;
        height: auto;
        background: transparent;
      }
    }
  }
}
