.password {
  padding: 24px 24px 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    align-items: flex-start;
  }

  &Header {
    margin-right: 16px;

    @include media-breakpoint-down(sm) {
      margin-right: 0;
      margin-bottom: 16px;
    }

    h6 {
      margin-bottom: 4px;
      line-height: 1.2;
    }

    p {
      margin-bottom: 0;
      font-size: 14px;
      line-height: 1.2;
      color: #98a2b3;
    }
  }

  .link {
  }
}
