/* Bootstrap */

.btn {
  padding: 12px 20px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  text-decoration: none;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(16, 24, 40, .05);

  @include media-breakpoint-down(md) {
    padding: 10px 16px;
    font-size: 14px;
  }

  &:focus {
    outline: none !important;
  }

  &[disabled] {
    pointer-events: none;
    color: #667085;
    background: #353a46;
    border: 1px solid #353a46;
    box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
  }

  &.btn-spinner {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #667085;
    background: #353a46;
    border: 1px solid #353a46;
    box-shadow: 0 1px 2px rgba(16, 24, 40, .05);

    &:after {
      margin-left: 8px;
      display: block;
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      content: '';
      background: url(../img/spinner.png) no-repeat center;
      background-size: contain;
      animation: spin 2s linear infinite;
    }
  }

  @keyframes spin {

    to {
      transform: rotate(360deg);
    }
  }

  &.btn-link {
    color: $violet;
    box-shadow: none;

    &:hover {
      color: lighten($primary, 10%);
    }

    &--white {
      color: #fff;
    }
  }

  &.btn-light {
    background: #fff;
    border: 1px solid #d0d5dd;

    @include transition;

    &:hover {
      opacity: .8;
    }
  }

  &.btn-gray {
    color: $light;
    background: #353a46;

    &:hover {
      background: lighten(#353a46, 2%);
    }
  }

  &.btn-sm {
    padding: 8px 17.33px 10px;
  }

  &.btn-xs {
    padding: 9px 15.5px;
    min-width: 109px;
    font-size: 14px;
    line-height: 1.43;
    font-weight: 500;

    @include media-breakpoint-down(xxl) {
      padding: 6px 10px;
    }
  }

  &.btn-xs2 {
    padding: 9px 15.5px;
    font-size: 14px;
    line-height: 1.43;
    font-weight: 500;

    @include media-breakpoint-down(xxl) {
      padding: 6px 10px;
    }
  }

  &.btn-xxs {
    padding: 5px 15.2px;
    font-size: 14px;
    line-height: 1.43;
    font-weight: 500;

    @include media-breakpoint-down(xxl) {
      padding: 6px 10px;
    }
  }

  &.btn-lg {
    padding: 15px 27.49px;
    font-size: 18px;
    line-height: 1.56;

    @include media-breakpoint-down(md) {
      padding: 12px 24px;
      font-size: 16px;
    }
  }
}

.form-check {
  padding-left: 0;
  display: flex;

  .form-check-input {
    margin-top: 2px;
    margin-right: 12px;
    margin-left: 0;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border: 1px solid #d0d5dd;
    border-radius: 6px;

    &:focus {
      outline: none;
      box-shadow: none;
    }

    &[disabled] {

      & ~ .form-check-label {
        opacity: 1;
        color: #667085;

        .form-check-label__comment {
          color: #667085;
        }
      }
    }
  }

  .form-check-label {
    font-size: 16px;
    line-height: 1.4;
    color: $gray;

    @include media-breakpoint-down(md) {
      font-size: 14px;
    }

    a {
      color: $gray;
    }

    &__comment {
      margin-top: 2px;
      display: block;
      font-size: 12px;
      line-height: 1.4;
      color: #9fa4ac;
    }
  }

  &--default {
    margin-bottom: 16px !important;

    .form-check-label {
      color: #fff;
    }
  }

  &--minus {

    .form-check-input {
      background: url(../img/check-minus.svg) no-repeat center !important;
      border-color: $primary !important;
    }
  }
}

.input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu),
.input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3) {
  border-radius: 0;
}

/* Fancybox */

.fancybox__backdrop {
  background: rgba(#000, .3);
}

.fancybox__content > .carousel__button.is-close {
  top: 20px;
  right: 20px;
  display: flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;

  @include media-breakpoint-down(sm) {
    top: 10px;
    right: 10px;
  }

  svg {
    max-width: 70%;
    color: #98a2b3;
  }
}

/* Select */

.select2-container .select2-selection--single,
.select2-container--default .select2-selection--multiple {
  height: 48px;
  color: $dark;
  background: #2f3947;
  border: 1px solid #3d4959;
  border-radius: 8px;
}

.select2-container .select2-selection--single .select2-selection__rendered,
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  padding-right: 16px;
  padding-left: 16px;
  display: flex;
  height: 48px;
  align-items: center;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  color: $dark;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #667085;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 50%;
  right: 11px;
  background: url(../img/select-arrow.svg) no-repeat center;
  background-size: 80%;
  transform: translateY(-50%);
}

.select2-selection__arrow b {
  display: none;
}

.select2-container--open .select2-dropdown--below {
  background: #fff;
  border-color: #d9d9de;
}

.select2-container .select2-search--inline {
  width: 100%;
}

.select2-container--default .select2-search--inline .select2-search__field {
  margin-top: 0;
  margin-bottom: 0;
  width: 100% !important;
  height: 48px;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;

  @include placeholder(#667085);

  &:focus {
    outline: none !important;
  }
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {

  &:after {
    position: absolute;
    z-index: 1;
    right: 16px;
    display: block;
    width: 19px;
    height: 10px;
    content: '';
    background: url(../img/select-arrow-dark.svg) no-repeat center;
  }
}

.select2-container--default.select2-container--open.select2-container--below
  .select2-selection--single,
.select2-container--default.select2-container--open.select2-container--below
  .select2-selection--multiple {
  border-radius: 8px;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: #3d4959;
}

.select2-container--open .select2-dropdown {
  margin-top: 4px;
  background: #2f3947;
  border: 1px solid #3d4959;
  border-radius: 8px;
}

.select2-container--default .select2-results > .select2-results__options li {
  margin-bottom: 0;
  padding: 12px 16px;
  padding-left: 16px;
  display: flex;
  align-items: center;
  font-family: $font-family-sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $light;

  &:before {
    margin-right: 12px;
    display: block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    content: '';
    border: 1px solid #667085;
    border-radius: 6px;
  }

  &:first-child {
    border-radius: 8px 8px 0 0;
  }

  &:last-child {
    border-radius: 0 0 8px 8px;
  }

  &:hover {
    background: #2d3146 !important;
  }
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background: transparent;

  &:before {
    background: $primary url(../img/check-white.svg) no-repeat center;
    border-color: $primary !important;
  }
}

.select2-container--default .select2-results > .select2-results__options li[aria-disabled] {
  display: none;
}

.select2-container--default .select2-results__option[aria-selected='true'] {
  color: $dark;
  background: transparent !important;

  &:before {
    background: $primary url(../img/check-white.svg) no-repeat center;
    border-color: $primary !important;
  }
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  margin-top: 0;
  margin-right: 8px;
  padding: 1.5px 8px 2.5px;
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 500;
  color: #fff;
  background: $primary;
  border: 0;
  border-radius: 4px;

  &:first-child {
    display: none;
  }
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 6px;
  width: 16px;
  height: 16px;
  font-size: 0;
  background: url(../img/select-remove.svg) no-repeat center;
  background-size: contain;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  color: #fff;
}

.select2-container--default .select2-results > .select2-results__options {
  position: relative;
  overflow: hidden;
}

.select {

  &--default {

    .select2-container .select2-selection--single,
    .select2-container--default .select2-selection--multiple {
      height: 43px;
      border-color: #76767a;
      border-radius: 0;
    }

    .select2-container .select2-selection--single .select2-selection__rendered,
    .select2-container--default .select2-selection--multiple .select2-selection__rendered {
      height: 43px;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow {
      top: 2px;
      right: 1px;
      width: 38px;
      height: calc(100% - 4px);
      background: #fff url(../img/select-arrow-dark.svg) no-repeat center left 5px;
      transform: none;
    }

    .select2-container--default .select2-selection--single .select2-selection__placeholder {
      padding-bottom: 2px;
      font-size: 16px;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
      margin-top: 0;
      padding: 0;
      font-size: 16px;
      line-height: 1.8;
      background: transparent;
      border: 0;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
      display: none;
    }
  }
}

.select2-selection__rendered-icon {
  margin-right: 12px;
}

/* Perfect Scrollbar */

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  opacity: 1;
}

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  opacity: 1 !important;
  background: transparent !important;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  right: 7px;
  width: 4px;
  opacity: 1;
  background: #5b6572;
}

.ps__thumb-y {
  right: 7px;
  width: 4px;
  opacity: 1;
  background: #5b6572;
  border-radius: 4px;
}
