mixin pagination(data)
  .pagination&attributes(attributes)
    .paginationShow
      p Show
      +select({
        type: 'selected'
      }).select--normal.select--dark
        option 10
        option 20
        option 30
    .paginationContent
      a.paginationArrow(href="#")
        img(src="./img/pagination-left.svg", alt)
      a.paginationItem.paginationItem_Active(href="#") 1
      a.paginationItem(href="#") 2
      a.paginationItem(href="#") 3
      a.paginationItem(href="#") ...
      a.paginationItem(href="#") 8
      a.paginationItem(href="#") 9
      a.paginationItem(href="#") 10
      a.paginationArrow(href="#")
        img(src="./img/pagination-right.svg", alt)
