.pagination {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;

  &Show {
    margin-right: 20px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md) {
      display: none;
    }

    p {
      margin-right: 12px;
      margin-bottom: 0;
      font-size: 16px;
      line-height: 1.5;
      color: #9fa4ac;
    }
  }

  &Content {
    display: inline-flex;
    border: 1px solid #263040;
    border-radius: 8px;
  }

  &Arrow {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background: #232b37;

    @include media-breakpoint-down(md) {
      width: 32px;
      height: 32px;
    }

    &:first-child {
      border-right: 1px solid #263040;
      border-radius: 8px 0 0 8px;
    }

    &:last-child {
      border-right: 0;
      border-radius: 0 8px 8px 0;
    }

    @include transition;

    &:hover {
      color: $light;
      background: #2d3146;
    }
  }

  &Item {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 1.43;
    font-weight: 500;
    text-decoration: none;
    color: $light;
    background: #232b37;
    border-right: 1px solid #263040;

    @include media-breakpoint-down(md) {
      width: 32px;
      height: 32px;
      font-size: 12px;
    }

    @include transition;

    &:hover {
      color: $light;
      background: #2d3146;
    }

    &_Active {
      position: relative;
      margin-top: -1px;
      margin-bottom: -1px;
      height: 42px;
      background: #2d3146;
      border: 1px solid #3d4959;

      @include media-breakpoint-down(md) {
        width: 34px;
        height: 34px;
      }
    }
  }
}
