mixin doc(data)
  .doc&attributes(attributes)
    .docPicture
      img(src="./img/" + data.picture, alt)
    .docWrapper
      .docContent
        p Example dashboard screenshot.jpg
        .docFile
          if data && data.type == 'upload'
            .docUpload
              span(style="width: 43.33%;")
          .docSize= data.size
      if data && data.noRemove
      else
        a.docRemove(href="#")
