.doc {
  margin-top: 24px;
  padding: 16px;
  display: flex;
  align-items: flex-start;
  border: 1px solid #263040;
  border-radius: 8px;

  @include media-breakpoint-down(sm) {
    margin-top: 16px;
    flex-direction: column;
  }

  &Picture {
    margin-right: 16px;
    overflow: hidden;
    max-width: 264px;
    flex-shrink: 0;
    border-radius: 4px;

    @include media-breakpoint-down(sm) {
      margin-right: 0;
      margin-bottom: 16px;
    }

    img {
      max-width: 100%;
      border-radius: 4px;
    }
  }

  &Wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: 1;

    @include media-breakpoint-down(sm) {
      width: 100%;
      justify-content: space-between;
    }
  }

  &Content {

    p {
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 500;
      color: $light;
    }
  }

  &File {
    margin-top: 4px;
    display: flex;
    align-items: center;
  }

  &Upload {
    margin-right: 12px;
    height: 8px;
    flex-grow: 1;
    background: #263040;
    border-radius: 4px;

    span {
      display: block;
      height: 100%;
      background: $primary;
      border-radius: 4px;
    }
  }

  &Size {
    font-size: 14px;
    line-height: 1.43;
    font-weight: 500;
    color: #9fa4ac;
  }

  &Remove {
    margin-left: 4px;
    display: block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background: url(../img/icon-trash.svg) no-repeat center;
    background-size: contain;
  }

  &_Upload {

    .docPicture {
      position: relative;
      margin-right: 14px;
      width: 32px;
      height: 32px;
      flex-shrink: 0;
      border-radius: 4px;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top center;
      }
    }

    .docContent {
      flex-grow: 1;
    }
  }
}
