.file-btn {
  position: relative;

  @include transition;

  &:hover {
    opacity: .8;
  }

  .input-group {

    label {
      padding: 8px 14px;
      font-size: 14px;
      line-height: 1.43;
      font-weight: 500;
      color: #fff;
      background: rgba(127, 86, 217, .42);
      border: 1px solid rgba(127, 86, 217, .42);
      border-radius: 8px !important;
      box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
    }

    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }

  &--link {

    .input-group {

      label {
        padding: 0;
        font-size: 14px;
        line-height: 1.43;
        font-weight: 500;
        color: #9a7ddb;
        background: transparent;
        border: 0;
      }
    }
  }
}
