mixin greetings(data)
  .greetings&attributes(attributes)
    .greetingsWrapper
      div
        .greetingsPicture
          //img(src="./img/user.jpg", alt)
        .greetingsContent
          .greetingsHeader
            p Hello, Albert Krungsri!
            .status(class="status--" + data.type)= data.status
          .greetingsInfo 
            p Last login time 2022-06-09 09:49:18
            p IP: 51.12.79.58
      if data && data.btn
        a.btn.btn-primary.btn-xs(href="#") Order exchange
