.greetings {
  padding: 24px 20px 20px;
  width: 100%;

  @include media-breakpoint-down(sm) {
    padding: 16px 12px;
  }

  &Wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }

    & > div {
      display: flex;
      align-items: flex-start;
    }

    & > .btn {

      @include media-breakpoint-down(sm) {
        margin-top: 20px;
      }
    }
  }

  &Picture {
    position: relative;
    margin-right: 12px;
    overflow: hidden;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    background: #b374ac;
    border-radius: 50%;

    @include media-breakpoint-down(sm) {
      margin-bottom: 4px;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
      object-position: top center;
    }
  }

  &Content {
  }

  &Header {
    margin-bottom: 4px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }

    p {
      margin-right: 8px;
      margin-bottom: 0;

      @include media-breakpoint-down(sm) {
        margin-bottom: 4px;
      }
    }
  }

  &Info {

    @include media-breakpoint-down(sm) {
      margin-top: 4px;
    }

    p {
      margin-bottom: 2px;
      font-size: 12px;
      line-height: 1.2;
      color: #98a2b3;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
