
include ../blocks/header/header.pug
include ../blocks/logo/logo.pug
include ../blocks/front/front.pug
include ../blocks/feature/feature.pug
include ../blocks/plan/plan.pug
include ../blocks/section/section.pug
include ../blocks/advantage/advantage.pug
include ../blocks/trial/trial.pug
include ../blocks/partners/partners.pug
include ../blocks/integrations/integrations.pug
include ../blocks/form/form.pug
include ../blocks/input/input.pug
include ../blocks/footer/footer.pug
include ../blocks/menu/menu.pug
include ../blocks/application/application.pug
include ../blocks/enter/enter.pug
include ../blocks/cabinet/cabinet.pug
include ../blocks/aside/aside.pug
include ../blocks/table/table.pug
include ../blocks/user/user.pug
include ../blocks/modal/modal.pug
include ../blocks/file/file.pug
include ../blocks/select/select.pug
include ../blocks/settings/settings.pug
include ../blocks/file-btn/file-btn.pug
include ../blocks/parameter/parameter.pug
include ../blocks/alert/alert.pug
include ../blocks/status/status.pug
include ../blocks/payment/payment.pug
include ../blocks/method/method.pug
include ../blocks/attribute/attribute.pug
include ../blocks/link/link.pug
include ../blocks/back/back.pug
include ../blocks/module/module.pug
include ../blocks/dashboard/dashboard.pug
include ../blocks/start/start.pug
include ../blocks/costs/costs.pug
include ../blocks/statuses/statuses.pug
include ../blocks/periods/periods.pug
include ../blocks/create/create.pug
include ../blocks/balance/balance.pug
include ../blocks/greetings/greetings.pug
include ../blocks/security/security.pug
include ../blocks/activity/activity.pug
include ../blocks/activityItem/activityItem.pug
include ../blocks/step/step.pug
include ../blocks/graph/graph.pug
include ../blocks/cost/cost.pug
include ../blocks/visible/visible.pug
include ../blocks/confirmation/confirmation.pug
include ../blocks/popup/popup.pug
include ../blocks/notification/notification.pug
include ../blocks/notifications/notifications.pug
include ../blocks/pagination/pagination.pug
include ../blocks/password/password.pug

include ../blocks/verification/verification.pug
include ../blocks/stages/stages.pug
include ../blocks/qr/qr.pug
include ../blocks/keys/keys.pug
include ../blocks/hint/hint.pug
include ../blocks/identification/identification.pug
include ../blocks/warning/warning.pug
include ../blocks/doc/doc.pug
include ../blocks/remark/remark.pug
include ../blocks/board/board.pug