mixin trial(data)
  .trial&attributes(attributes)
    .trial__left
      h5.trial__title Start your 30-day free trial
      p.lg.trial__dscr Join over 4,000+ startups already growing with Untitled.
    .trial__right
      a.btn.btn-light.trial__btn(href="#") Learn more
      a.btn.btn-primary.trial__btn(href="#") Get started
