.trial {
  padding: 64px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #fff;
  background: #53389e;
  border-radius: 16px;

  @include media-breakpoint-down(xl) {
    padding: 32px;
  }

  @include media-breakpoint-down(lg) {
    flex-direction: column;
    align-items: flex-start;
  }

  @include media-breakpoint-down(md) {
    padding: 24px;
  }

  &__left {
    margin-right: 32px;

    @include media-breakpoint-down(lg) {
      margin-right: 0;
      margin-bottom: 24px;
    }
  }

  &__title {
    margin-bottom: 16px;

    @include media-breakpoint-down(lg) {
      margin-bottom: 8px;
    }
  }

  &__dscr {
    margin-bottom: 0;
    color: #e9d7fe;
  }

  &__right {
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
  }

  &__btn {
    margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }
  }
}
