.balance {
  padding: 24px 20px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;

  @include media-breakpoint-down(sm) {
    flex-wrap: wrap;
  }

  @include media-breakpoint-down(sm) {
    padding: 16px 12px;
  }

  &Left {

    @include media-breakpoint-down(sm) {
      margin-bottom: 10px;
    }
  }

  &Title {
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 500;
    color: #98a2b3;
  }

  &Amount {
    margin-top: 2px;
    font-family: $font-family-secondary;
    font-size: 28px;
    line-height: 1.2;
    color: $light;
  }

  &Right {
  }

  &Btn {

    & + & {
      margin-left: 8px;
    }
  }
}
