mixin balance(data)
  .balance.js-visible-wrapper&attributes(attributes)
    .balanceLeft
      .balanceTitle Account balance
        a.visible.js-visible-btn(href="#")
          span Hide balance
      .balanceAmount.js-visible-content $0.00
    .balanceRight
      a.btn.btn-primary.btn-xxs.balanceBtn(href="#") Deposit
      if data && data.type == 'withdraw'
        a.btn.btn-gray.btn-xs.balanceBtn(href="#") Withdraw
