.hint {
  position: absolute;
  top: calc(100% + 20px);
  left: 50%;
  padding: 8px 12px;
  opacity: 0;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 500;
  pointer-events: none;
  color: #fff;
  background: $black;
  border-radius: 8px;
  transform: translateX(-50%);

  &:before {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 12px;
    height: 12px;
    content: '';
    background: $black;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &__trigger {
    position: relative;

    &:hover {

      .hint {
        opacity: 1;
        pointer-events: all;
      }
    }
  }
}
