.input {
  padding: 0 16px;
  height: 48px;
  font-size: 16px;
  line-height: 1.5;
  background: #fff;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(16, 24, 40, .05);

  @include placeholder($gray);

  &:focus {
    outline: none !important;
    box-shadow: none;
  }

  &--textarea {
    padding: 12px 16px;
    height: 128px;
    resize: none;

    @include media-breakpoint-down(md) {
      height: 100px;
    }
  }
}
