mixin activityItem(data)
  .activityItem&attributes(attributes)
    .activityItemLeft
      p= data.title
      p 2022-06-09 09:49:18
    .activityItemRight
      p IP: 51.12.79.58
      p New York, Unated States
