.activityItem {
  padding: 18px 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #263040;

  &:first-child {
    border-top: 0;
  }

  &Left {
    padding-right: 10px;
    max-width: 50%;

    p {
      line-height: 1.2;

      &:first-child {
        margin-bottom: 8px;
        font-size: 14px;
        color: $light;
      }

      &:last-child {
        margin-bottom: 0;
        font-size: 12px;
        color: #98a2b3;
      }
    }
  }

  &Right {
    padding-left: 10px;
    max-width: 50%;
    text-align: right;

    p {
      line-height: 1.2;

      &:first-child {
        margin-bottom: 8px;
        font-size: 14px;
        font-weight: 500;
        color: $light;
      }

      &:last-child {
        margin-bottom: 0;
        font-size: 12px;
        color: #98a2b3;
      }
    }
  }
}
