.alert {
  margin-bottom: 24px;
  padding: 12px;
  display: flex;
  align-items: flex-start;
  color: $light;
  background: #2f3947;
  border-left: 4px solid #f38c31;
  border-radius: 4px;

  &:before {
    margin-right: 12px;
    display: block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    content: '';
    background: url(../img/alert-icon.svg) no-repeat center;
    background-size: contain;
  }

  &__content {
  }
}
