mixin alert(data)
  .alert&attributes(attributes)
    .alert__content
      p.sm.fw-medium.mb-5 Insufficient funds
      p.sm.mb-0 Top up a balance or change a payment method. The exchange will be activated within 1 business day