.dashboard {
  display: flex;
  align-content: stretch;
  flex-wrap: wrap;

  &Item {
    margin-bottom: 16px;
    padding: 0 8px;
    display: flex;

    h6 {

      @include media-breakpoint-down(xxl) {
        font-size: 16px;
      }
    }

    &_Greetings {
      flex: 0 1 58.33%;

      @include media-breakpoint-down(xl) {
        flex: 0 1 100%;
      }
    }

    &_Balance {
      flex: 0 1 41.67%;

      @include media-breakpoint-down(xl) {
        flex: 0 1 100%;
      }
    }

    &_Start {
      flex: 0 1 100%;
    }

    &_Statuses {
      flex: 0 1 25%;

      @include media-breakpoint-down(xl) {
        flex: 0 1 100%;
      }
    }

    &_Costs {
      flex: 0 1 75%;

      @include media-breakpoint-down(xl) {
        flex: 0 1 100%;
      }
    }

    &_Column {
      flex-direction: column;
    }

    &_Half {
      flex: 0 1 50%;

      @include media-breakpoint-down(xl) {
        flex: 0 1 100%;
      }
    }
  }

  &ItemInner {
    margin-top: 16px;
  }
}
