.payment {
  padding: 16px;
  display: flex;
  align-items: flex-start;
  border: 1px solid #263040;
  border-radius: 8px;

  @include media-breakpoint-down(sm) {
    flex-direction: column;
    align-items: flex-start;
  }

  &__icon {
    margin-right: 12px;
    display: flex;
    width: 46px;
    height: 32px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #fff;
    border-radius: 4px;

    @include media-breakpoint-down(sm) {
      margin-bottom: 10px;
    }
  }

  &__icon-img {
    max-width: 90%;
    max-height: 90%;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: 1;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__content {
    margin-right: 16px;
  }

  &__expiry {
    margin-bottom: 2px;
    font-family: $font-family-secondary;
    color: #667085;
  }

  &__subheader {
    margin-left: 5px;
    color: #667085;
  }

  &__btn {
    margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }
  }

  &_Radio {
    max-width: 616px;
  }

  .form-check {
    flex-shrink: 0;

    @include media-breakpoint-down(sm) {
      margin-top: 20px;
    }
  }

  .form-check-input {
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }

  .form-check-label {
    font-size: 14px;
    line-height: 1.4;
    color: $light;
  }
}
