mixin payment(data)
  .payment&attributes(attributes)
    .payment__icon
      img.payment__icon-img(src="./img/payment-" + data.icon, alt)
    .payment__wrapper
      .payment__content
        p.mb-0= data.title
          if data && data.subheader
            span.payment__subheader= data.subheader
        if data && data.subtitle
          p.sm.payment__expiry= data.subtitle
        else
          p.sm.payment__expiry Expiry 06/2024
        each btn in data.btns
          if btn == 'Edit'
            a.p.sm.link.payment__btn(href="#") Edit
          else if btn == 'Delete'
            a.p.sm.link.link--gray.payment__btn(href="#") Delete
          else 
            a.p.sm.link.payment__btn(href="#")= btn
      if data && data.radio
        .form-check
          if data && data.radio == 'bank'
            input.form-check-input(id=data.radio type='radio' checked name='paymentDefault')
          else
            input.form-check-input(id=data.radio type='radio' name='paymentDefault')
          label.form-check-label(for=data.radio) Set as default
