mixin statuses(data)
  .statuses&attributes(attributes)
    .statusesHeader
      .statusesHeaderLeft
        p Total orders
        h5= data.total
      .statusesHeaderRight
        +statusesColor({
          type: 'Inactive',
          title: 'Not active'
        })
        +statusesColor({
          type: 'Pending',
          title: 'Not active'
        })
        +statusesColor({
          type: 'Active',
          title: 'Active'
        })
    .statusesContent
      if data.total == 0
        .statusesEmpty
          img(src="./img/statuses-empty.svg", alt)
          p There are no orders
          p All orders statuses will be here
      else 
        .statusesSection
          .statusesSectionColumn
            h6.statusesSectionOverall= data.paid[0] + data.paid[1] + data.paid[2]
            if data && data.paid[2]
              .statusesSectionItem.statusesSectionItem_Inactive= data.paid[2]
            if data && data.paid[1]
              .statusesSectionItem.statusesSectionItem_Pending= data.paid[1]
            if data && data.paid[0]
              .statusesSectionItem.statusesSectionItem_Active= data.paid[0]
            else
              .statusesSectionItem.statusesSectionItem_Empty
          .statusesSectionHeader Paid
        .statusesSection
          .statusesSectionColumn
            h6.statusesSectionOverall= data.demo[0] + data.demo[1] + data.demo[2]
            if data && data.demo[2]
              .statusesSectionItem.statusesSectionItem_Inactive= data.demo[2]
            if data && data.demo[1]
              .statusesSectionItem.statusesSectionItem_Pending= data.demo[1]
            if data && data.demo[0]
              .statusesSectionItem.statusesSectionItem_Active= data.demo[0]
          .statusesSectionHeader Demo



mixin statusesColor(data)
  .statusesColor(class="statusesColor_" + data.type)&attributes(attributes)= data.title
