.statuses {
  padding: 24px 20px;
  display: flex;
  width: 100%;
  flex-direction: column;

  @include media-breakpoint-down(sm) {
    padding: 16px 12px;
  }

  &Header {
    display: flex;
    justify-content: space-between;
  }

  &HeaderLeft {

    p {
      margin-bottom: 2px;
      font-size: 12px;
      line-height: 1.2;
      font-weight: 500;
      color: #98a2b3;
    }

    h5 {
      font-size: 28px;
      line-height: 1.2;
      color: $light;
    }
  }

  &HeaderRight {
  }

  &Color {
    margin-bottom: 4px;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.2;
    color: #98a2b3;

    &:before {
      margin-right: 8px;
      display: block;
      width: 8px;
      height: 8px;
      content: '';
      border-radius: 2px;
    }

    &_Inactive {

      &:before {
        background: #e68d8e;
      }
    }

    &_Pending {

      &:before {
        background: #d0bf66;
      }
    }

    &_Active {

      &:before {
        background: #80be76;
      }
    }
  }

  &Content {
    padding-top: 24px;
    display: flex;
    min-height: 280px;
    justify-content: center;
    flex-grow: 1;
  }

  &Empty {
    padding-bottom: 30px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    img {
      margin-bottom: 24px;
      display: block;
      flex-shrink: 0;
      content: '';
    }

    p {
      margin-bottom: 8px;
      font-size: 12px;
      line-height: 1.2;

      &:first-child {
        color: $light;
      }

      &:last-child {
        margin-bottom: 0;
        color: #98a2b3;
      }
    }
  }

  &Section {
    position: relative;
    padding-top: 53px;
    display: flex;
    max-width: 102px;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
    text-align: center;

    & + & {
      margin-left: 28px;
    }

    &_Empty {
      flex-direction: column;
      justify-content: flex-end;

      .statusesSectionColumn {
        flex-grow: 0;
      }
    }
  }

  &SectionOverall {
    position: absolute;
    top: -4px;
    margin-bottom: 0;
    width: 100%;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 600;
    text-align: center;
    color: $light;
    transform: translateY(-100%);
  }

  &SectionColumn {
    position: relative;
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 4px;
  }

  &SectionItem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    font-size: 14px;
    line-height: .1;
    color: #181e27;

    &:nth-child(2) {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    &:last-child {
      border-bottom-right-radius: 4px;
      border-bottom-left-radius: 4px;
    }

    &_Inactive {
      background: #e68d8e;
    }

    &_Pending {
      background: linear-gradient(0deg, #d0bf66, #d0bf66), linear-gradient(0deg, #d0bf66, #d0bf66),
        #d0bf66;
    }

    &_Active {
      background: #80be76;
    }

    &_Empty {
      width: 100%;
      min-height: 18px;
      flex-grow: 0;
      background: #2f3947;
      align-self: flex-end;
    }
  }

  &SectionItemFiller {

    & + .statusesSectionItem {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
  }

  &SectionHeader {
    margin-top: 12px;
    font-size: 14px;
    line-height: 1.4;
    color: $light;
  }
}
