mixin costs(data)
  .costs.js-visible-wrapper&attributes(attributes)
    .costsHeader
      .costsHeaderLeft
        .costsTitle
          p Total costs for 1 month
          a.visible.js-visible-btn(href="#")
            span Hide balance
        h5.js-visible-content= data.total
      .costsHeaderContent
        +periods
        .costsHeaderRight
          a.link.link_Arrow(href="#") Orders list
    .costsContent
      if data && data.items == '1'
        +cost({
          title: 'Dfocom corparation',
          price: '$375,320'
        })
      else if data && data.items == '3'
        +cost({
          title: 'Dfocom corparation',
          price: '$375,320'
        })
        +cost({
          title: 'Dfocom corparation',
          price: '$305,320'
        })
        +cost({
          title: 'Dfocom corparation',
          price: '$175,320'
        })
      else if data && data.items == '4'
        +cost({
          title: 'Dfocom corparation',
          price: '$375,320'
        })
        +cost({
          title: 'CompX',
          price: '$275,320'
        })
        +cost({
          title: 'Abcompany group',
          price: '$53,320'
        })
        +cost({
          title: 'CompX ABC',
          price: '$45,320'
        })
      else if data && data.items == '10'
        +cost({
          title: 'Dfocom corparation',
          price: '$375,320'
        })
        +cost({
          title: 'CompX',
          price: '$275,320'
        })
        +cost({
          title: 'Abcompany group',
          price: '$255,320'
        })
        +cost({
          title: 'Abcompany group long name',
          price: '$183,320'
        })
        +cost({
          title: 'CompX ABC',
          price: '$148,320'
        })
        +cost({
          title: 'Abcompany group',
          price: '$105,320'
        })
        +cost({
          title: 'Abcompany group long name',
          price: '$53,320'
        })
        +cost({
          title: 'Abcompany group long name',
          price: '$53,320'
        })
        +cost({
          title: 'Abcompany group long name',
          price: '$53,320'
        })
        +cost({
          title: 'Abcompany group long name',
          price: '$53,320'
        })
      else
        .costsEmpty
          img(src="./img/costs-empty.svg", alt)
          p There are no costs
          p Keep track your costs here when you purchase <br>an exchange subscription for a company
