.costs {
  display: flex;
  flex-direction: column;

  &Header {
    padding: 24px 20px 18px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #263040;

    @include media-breakpoint-down(md) {
      padding: 16px 12px;
      flex-direction: column-reverse;
      align-items: stretch;
    }
  }

  &HeaderLeft {
    width: 250px;

    @include media-breakpoint-down(xxl) {
      width: 200px;
    }

    @include media-breakpoint-down(md) {
      width: 170px;
    }

    h5 {
      margin-bottom: 0;
      font-family: $font-family-secondary;
      font-size: 28px;
      line-height: 1.2;
      font-weight: 400;
      color: $light;
    }
  }

  &Title {
    margin-bottom: 2px;
    display: flex;
    align-items: center;

    p {
      margin-right: 4px;
      margin-bottom: 0;
      font-size: 12px;
      color: #98a2b3;
    }
  }

  &HeaderContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
      //      flex-direction: column;
      align-items: flex-start;
    }
  }

  &HeaderRight {

    @include media-breakpoint-down(md) {
      margin-bottom: 10px;
    }
  }

  &Content {
    position: relative;
    padding: 16px 20px;
    display: flex;
    height: 286px;
    flex-direction: column;
    flex-grow: 1;

    @include media-breakpoint-down(xl) {
      overflow: auto;
    }

    @include media-breakpoint-down(lg) {
      height: auto;
      min-height: 120px;
      max-height: 286px;
    }

    @include media-breakpoint-down(md) {
      padding: 16px 12px;
    }
  }

  &Empty {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    text-align: center;

    img {
      margin-bottom: 24px;
      display: block;
      flex-shrink: 0;
      content: '';
    }

    p {
      margin-bottom: 8px;
      font-size: 12px;
      line-height: 1.2;

      &:first-child {
        color: $light;
      }

      &:last-child {
        margin-bottom: 0;
        color: #98a2b3;
      }
    }
  }
}
