.identification {
  margin-bottom: 40px;

  &Wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include media-breakpoint-down(sm) {
      flex-direction: column-reverse;
    }
  }

  &Content {
    padding-right: 32px;

    h6 {
    }

    p {
      margin-bottom: 8px;
      font-size: 14px;
      line-height: 1.4;
    }

    ul {
      margin-bottom: 0;
      padding-left: 21px;

      li {
        margin-bottom: 4px;
        font-size: 14px;
        line-height: 1.4;
      }
    }
  }

  &Icon {
    max-width: 56px;
    flex-shrink: 0;

    @include media-breakpoint-down(sm) {
      margin-bottom: 16px;
    }

    img {
      max-width: 100%;
    }
  }

  .file {
    margin-top: 20px;
  }
}
