mixin identification(data)
  .identification&attributes(attributes)
    .identificationWrapper
      .identificationContent
        h6= data.header
        p= data.dscr
        ul
          each item in data.list
            li= item
      .identificationIcon
        img(src="./img/" + data.icon, alt)
    if data && data.type == 'id'
      +doc({
        picture: 'id-doc.jpg',
        size: '720 KB'
      })
    else if data && data.type == 'upload'
      +doc({
        picture: 'id-doc.jpg',
        size: '325KB/750KB',
        type: 'upload'
      }).doc_Upload
    else if data && data.type == 'address'
    else
      +file
