mixin periods(data)
  .periods&attributes(attributes)
    a.periodsItem.periodsItem_Active(href="#") 1 month
    a.periodsItem(href="#") 3 month
    a.periodsItem(href="#") 6 month
    a.periodsItem(href="#") 12 month
    a.periodsItem(href="#") All period
