.periods {
  display: flex;
  border: 1px solid #3d4959;
  border-radius: 6px;

  @include media-breakpoint-down(md) {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  &Item {
    padding: 6.8px 13.48px;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    text-decoration: none;
    color: $light;
    border-right: 1px solid #3d4959;

    @include transition;

    @include media-breakpoint-down(xxl) {
      padding: 4px 6px;
    }

    @include media-breakpoint-down(md) {
      font-size: 11px;
    }

    &:first-child {
      border-radius: 6px 0 0 6px;
    }

    &:last-child {
      margin-right: 0;
      border-radius: 0 6px 6px 0;
    }

    &_Active {
      background: #2d3146;
    }

    &:hover {
      color: #fff;
      background: rgba(#2d3146, .5);
    }
  }
}
