.section {
  padding: 96px 0;
  overflow: hidden;

  @include media-breakpoint-down(xl) {
    padding: 48px 0;
  }

  &__top {
    margin-bottom: 64px;
    text-align: center;

    @include media-breakpoint-down(xl) {
      margin-bottom: 32px;
    }
  }

  &__subheader {
    margin-bottom: 12px;
    font-weight: 600;
    color: $primary;
  }

  &__header {
    margin-bottom: 20px;
  }

  &__grid {
    margin-bottom: -32px;
  }

  &__plans {

    @include media-breakpoint-down(lg) {
      overflow: auto;
      width: calc(100% + 16px);
    }

    @include media-breakpoint-down(md) {
      margin-bottom: -24px;
      overflow: visible;
      width: 100%;
    }
  }

  &__plans-content {

    @include media-breakpoint-down(lg) {
      min-width: 1200px;
    }

    @include media-breakpoint-down(md) {
      min-width: 0;
    }
  }

  &--dark {
    background: $gray-light;
  }

  &--advantages {
    padding-bottom: 187px;
    color: #fff;
    background: $dark url(../img/section-phone.jpg) no-repeat center;
    background-size: cover;

    @include media-breakpoint-down(xl) {
      padding-bottom: 48px;
    }
  }
}
