.status {
  padding: 2px 6px;
  font-size: 12px;
  line-height: 1.35;
  font-weight: 500;
  white-space: nowrap;
  text-transform: capitalize;
  border-radius: 4px;

  & + & {
    margin-left: 8px;
  }

  &--approved,
  &--active,
  &--verified {
    color: #80be76;
    background: rgba(95, 152, 86, .21);
  }

  &--rejected,
  &--suspended,
  &--expired {
    color: #f39494;
    background: rgba(217, 103, 103, .21);
  }

  &--pending {
    color: #d0bf66;
    background: rgba(168, 149, 52, .21);
  }

  &--demo {
    color: #90b6ff;
    background: #2a385a;
  }

  &--gray {
    color: #e4e7ec;
    background: #3c3f48;
  }
}
