mixin advantage(data)
  .advantage&attributes(attributes)
    .advantage__icon
      img.advantage__icon-img(src="./img/" + data.icon, alt)
    .advantage__content
      h6.advantage__title= data.title
      p.text-light.mb-0= data.dscr
