.advantage {
  padding: 30px 0 15px;
  display: flex;
  align-items: flex-start;

  @include media-breakpoint-down(md) {
    flex-direction: column;
  }

  &__icon {
    margin: -4px 12px -4px -4px;
    display: flex;
    width: 56px;
    height: 56px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #2b323d;
    border: 8px solid #1f242f;
    border-radius: 50%;

    @include media-breakpoint-down(md) {
      margin-right: 0;
    }
  }

  &__icon-img {
  }

  &__content {
    padding-top: 10px;
  }

  &__title {
  }
}
