mixin board(data)
  .board&attributes(attributes)
    .boardRow.boardRow_Header
      .boardItem Date
      .boardItem Source
      .boardItem IP address
      .boardItem Time zone
    .boardRow
      .boardItem(data-header="Date") 5/10/2022 
        span 10:08 AM
      .boardItem(data-header="Source") Web
      .boardItem(data-header="IP address") IP: 51.12.79.58
      .boardItem(data-header="Time zone") New York, Unated States
    .boardRow
      .boardItem(data-header="Date") 5/10/2022 
        span 10:08 AM
      .boardItem(data-header="Source") Web
      .boardItem(data-header="IP address") IP: 51.12.79.58
      .boardItem(data-header="Time zone") New York, Unated States
    .boardRow
      .boardItem(data-header="Date") 5/10/2022 
        span 10:08 AM
      .boardItem(data-header="Source") Web
      .boardItem(data-header="IP address") IP: 51.12.79.58
      .boardItem(data-header="Time zone") New York, Unated States
    .boardRow
      .boardItem(data-header="Date") 5/10/2022 
        span 10:08 AM
      .boardItem(data-header="Source") Web
      .boardItem(data-header="IP address") IP: 51.12.79.58
      .boardItem(data-header="Time zone") New York, Unated States
