.board {

  &Row {
    display: flex;
    border-top: 1px solid #252e3c;

    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
    }

    &:first-child {
      border-top: 0;
    }

    &_Header {

      @include media-breakpoint-down(md) {
        display: none;
      }

      .boardItem {
        padding: 12px 20px;
        font-size: 12px;
        line-height: 1.67;
        color: #9fa4ac;
      }
    }
  }

  &Item {
    padding: 16px 20px;
    flex: 0 0 25%;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 500;
    color: $light;

    @include media-breakpoint-down(md) {
      flex: 0 0 50%;
    }

    &:first-child {
      padding-left: 32px;

      @include media-breakpoint-down(lg) {
        padding-left: 20px;
      }
    }

    &:last-child {
      padding-right: 32px;

      @include media-breakpoint-down(lg) {
        padding-right: 20px;
      }
    }

    &:before {

      @include media-breakpoint-down(md) {
        margin-bottom: 4px;
        display: block;
        font-size: 12px;
        content: attr(data-header);
        color: #9fa4ac;
      }
    }

    span {
      color: #9fa4ac;
    }
  }
}
