.qr {
  margin: 0 auto;
  margin-bottom: 32px;
  max-width: 164px;

  img {
    margin-bottom: 24px;
    display: block;
    max-width: 100%;
  }

  &Name {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-size: 14px;
      line-height: 1.43;
      font-weight: 500;
      color: $light;
    }

    a {
      margin-left: 8px;
      width: 20px;
      height: 20px;
      background: url(../img/icon-copy.svg) no-repeat center;
      background-size: contain;
    }
  }
}
