mixin method(data)
  label.method(for=data.id)&attributes(attributes)
    span.form-check
      span.method__icon
        img.method__icon-img(src="./img/payment-" + data.icon, alt)
      input.form-check-input(type='radio' id=data.id name=data.name)
      span.form-check-label= data.title
