.method {
  margin-bottom: 4px;
  display: flex;
  border-radius: 8px;
  cursor: pointer;

  &__icon {
    margin-right: 12px;
    display: flex;
    width: 46px;
    height: 32px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: #fff;
    border-radius: 4px;
    align-self: flex-start;
  }

  &__icon-img {
    max-width: 90%;
    max-height: 90%;
  }

  .form-check {
    padding: 16px;
    width: 100%;
    align-items: center;
    border: 1px solid #263040;
    border-radius: 8px;
    cursor: pointer;

    @include transition;

    &:hover {
      border-color: #bdaedf;
    }
  }

  .form-check-input {
    margin-right: 0;
    margin-left: auto;
    order: 1;
    background: #2f3947;
    border: 1px solid #667085;
    border-radius: 10px;

    &:checked {
      background: #fff;
      border: 6px solid #7f56d9;
    }
  }

  .form-check-label {
    margin-right: 10px;
    color: $light;
  }
}
