.warning {
  margin-bottom: 24px;
  padding: 12px 16px 14px 12px;
  display: flex;
  align-items: flex-start;
  background: #2f3947;
  border-left: 4px solid $warning;
  border-radius: 4px;

  &Content {
    display: flex;
    align-items: flex-start;
  }

  &Icon {
    margin-right: 12px;
    width: 24px;
    height: 24px;
    flex-shrink: 0;

    img {
      max-width: 100%;
    }
  }

  p {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.4;
    color: $light;
  }

  &Close {
    margin-left: 12px;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background: url(../img/close-gray.svg) no-repeat center;
    background-size: contain;
  }
}
