.footer {
  padding: 64px 0 48px;
  background: #1d2939;

  @include media-breakpoint-down(md) {
    padding: 32px 0;
  }

  &__top {
    padding-bottom: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #475467;

    @include media-breakpoint-down(md) {
      padding-bottom: 16px;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &__logo {
    margin-bottom: 32px;
  }

  &__sitemap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: flex-end;
    }
  }

  &__sitemap-link {
    margin-right: 32px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    text-decoration: none;
    color: $light;

    @include transition;

    &:hover {
      color: lighten($primary, 10%);
    }

    @include media-breakpoint-down(md) {
      margin-right: 0;
      margin-bottom: 16px;
    }

    &:last-child {
      margin-right: 0;

      @include media-breakpoint-down(md) {
        margin-bottom: 0;
      }
    }
  }

  &__bottom {
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(md) {
      padding-top: 16px;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__bottom-left {

    @include media-breakpoint-down(md) {
      margin-bottom: 16px;
    }
  }

  &__copyright {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #98a2b3;
  }

  &__bottom-right {
    display: flex;
    align-items: center;
  }

  &__link {
    margin-right: 16px;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    color: #98a2b3;

    @include transition;

    &:hover {
      color: lighten($primary, 10%);
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
