mixin footer(data)
  .footer&attributes(attributes)
    .container
      .footer__top
        +logo.footer__logo
        .footer__sitemap
          a.footer__sitemap-link(href="#") Home
          a.footer__sitemap-link(href="#") Features
          a.footer__sitemap-link(href="#") Pricing
          a.footer__sitemap-link(href="#") Integrations
          a.footer__sitemap-link(href="#") Contact
      .footer__bottom
        .footer__bottom-left
          p.footer__copyright © 2022 Manax. All rights reserved.
        .footer__bottom-right
          a.footer__link(href="#") Terms
          a.footer__link(href="#") Privacy
          a.footer__link(href="#") Cookies
