.cost {
  display: flex;
  min-height: 24px;
  max-height: 72px;
  flex-grow: 1;

  @include media-breakpoint-down(sm) {
    min-height: 0;
    max-height: none;
    flex-direction: column;
    flex-shrink: 0;
  }

  & + & {
    margin-top: 16px;

    @include media-breakpoint-down(sm) {
      margin-top: 20px;
    }
  }

  &Header {
    display: flex;
    width: 250px;
    align-items: center;
    align-self: center;

    @include media-breakpoint-down(xxl) {
      width: 200px;
    }

    @include media-breakpoint-down(md) {
      padding-right: 10px;
      width: 170px;
    }

    @include media-breakpoint-down(sm) {
      align-self: flex-start;
      margin-bottom: 10px;
      width: 100%;
    }

    &:before {
      margin-right: 8px;
      display: block;
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      content: '';
      background: #2f3947 url(../img/icon-cost.svg) no-repeat center;
      border-radius: 50%;
    }

    p {
      margin-bottom: 0;
      font-size: 14px;
      line-height: 1.1;
      font-weight: 500;
      color: $light;
    }
  }

  &Content {
    display: flex;
    flex-grow: 1;

    p {
      margin-bottom: 0;
      padding-left: 8px;
      min-width: 80px;
      flex-shrink: 0;
      font-size: 14px;
      line-height: 1.4;
      font-weight: 600;
      color: $light;
      align-self: center;

      @include media-breakpoint-down(sm) {
        margin-left: 0;
        font-size: 12px;
      }
    }
  }

  &Column {
    flex-grow: 1;
    background: #a38add;
    border-radius: 0 4px 4px 0;

    @include transition;

    @include media-breakpoint-down(sm) {
      min-height: 24px;
      max-height: 72px;
    }

    &_Shorter {
      flex-grow: 0;
    }
  }
}
