.stages {
  padding-top: 24px;

  &Wrapper {
    padding-top: 95px;
    padding-bottom: 32px;
    min-height: 100vh;
    background: #181e27;
  }

  &WrapperInner {
    margin: 0 auto;
    max-width: 700px;
  }

  &Header {
    margin-bottom: 56px;
    display: flex;
    align-items: flex-start;

    @include media-breakpoint-down(sm) {
      margin: 0 auto 28px;
      max-width: 360px;
    }
  }

  &HeaderItem {
    display: flex;
    flex: 1 0 33.33%;
    flex-direction: column;
    align-items: center;
    text-align: center;

    div {
      position: relative;
      margin-bottom: 14px;
      display: flex;
      width: 24px;
      height: 24px;
      justify-content: center;
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
      text-align: center;
      color: #667085;
      border-radius: 50%;

      &:after {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        content: '';
        background: #2f3947;
        border-radius: 50%;
      }

      span {
        position: relative;
        z-index: 3;
      }
    }

    p {
      margin-bottom: 0;
      font-size: 14px;
      line-height: 1.43;
      color: $light;
    }

    &:nth-child(n + 2) {

      div {

        &:before {
          position: absolute;
          z-index: -1;
          top: 50%;
          right: calc(100% - 1px);
          margin-top: -1px;
          display: block;
          width: 175px;
          height: 2px;
          content: '';
          background: #263040;

          @media (max-width: 600px) {
            width: 160px;
          }

          @include media-breakpoint-down(sm) {
            width: 96px;
          }

          @media (max-width: 399px) {
            width: 89px;
          }
        }
      }
    }

    &_Active {

      div {

        span {
          color: #fff;
        }

        &:after {
          background: $primary;
        }

        &:before {
          background: $primary !important;
        }
      }
    }

    &_Completed {

      div {

        &:after {
          background: $primary url(../img/tick-white.svg) no-repeat center;
        }

        span {
          font-size: 0;
        }

        //        &:before {
        //          background: $primary !important;
        //        }
      }
    }
  }

  &Content {
  }

  &Item {
    margin: 0 auto;
    display: none;
    max-width: 356px;

    &_Active {
      display: block;
    }
  }

  &ItemSection {
    margin-bottom: 40px;

    h6 {
      margin-bottom: 24px;
    }

    .doc {
      margin-top: 12px;
    }
  }

  &ItemInner {
  }

  &ItemHeader {
    margin-bottom: 24px;

    h6 {
      margin-bottom: 4px;
      line-height: 1.2;
    }

    p {
      margin-bottom: 0;
      font-size: 14px;
      line-height: 1.2;
      color: #98a2b3;
    }
  }

  &Footer {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;

    .btn {
      min-width: 109px;
    }
  }

  &_Page {
    padding: 40px 56px;
    color: $light;
    background: $dark;

    @include media-breakpoint-down(sm) {
      padding: 20px 12px;
    }

    .stagesItem {
      max-width: 100%;
    }

    .stagesHeaderItem:nth-child(n + 2) {

      div {

        &:before {
          z-index: 1;
        }

        &:after {
          z-index: 2;
        }

        span {
          z-index: 3;
        }
      }
    }
  }
}
