mixin stages(data)
  .stages&attributes(attributes)
    +stagesHeader({
      list: data.list,
    })
    .stagesContent
    
      if data && data.type == 'verification'
        .stagesItem.stagesItem_Active
          .stagesItemInner
            .stagesItemHeader
              h6 Scan the OR code
              p Download Google authenticator on your smartphone. Use the app to scan the QR code
            +qr
            a.btn.btn-primary.btn-xs.w-100.jsStageNext(href="#") Next
        //.stagesItem
          .stagesItemInner
            +confirmation({
              header: 'Enter code',
              subheader: "Enter 2FA code from Google authenticator app",
              inputs: 6,
            }).confirmation_Stages.confirmation_StagesLeft
        .stagesItem
          .stagesItemInner
            +confirmation({
              header: 'Google authenticator enabled',
              subheader: "You have successfully enabled Authenticator to protect your account",
              type: 'confirmed',
              btn: 'Next',
              modifier: 'stage'
            }).confirmation_Stages
        .stagesItem
          .stagesItemInner
            .stagesItemHeader
              h6 Save these Backup Recovery keys in a secure location
              p These keys will allow to recover your Authenticator if you lost access to your 2FA device
              +keys
              a.btn.btn-primary.btn-xs.w-100(href="#") Confirm backup recovery keys
    
      else if data && data.type == 'identification'
        .stagesItem.stagesItem_Active
          +identification({
            header: 'Government-issued ID',
            dscr: 'Take a picture of your ID. Choose one type of document to upload',
            list: ['Passport', 'Driven lisence'],
            icon: 'identification-id.svg'
          })
          +identification({
            header: 'Facial recognition',
            dscr: 'Take a selfie holding you ID. Please make sure',
            list: ['Face towards the camera, clearly visible, with proper brightness', 'Citizen identification number is clearly shown, the image of yourself on the passport/driven lisence is not blurred or covered', 'Use your original passport/driven lisence'],
            icon: 'identification-face.svg'
          })
          .stagesFooter
            a.btn.btn-link.btn-xs.me-20(href="#") Cancel
            a.btn.btn-primary.btn-xs.jsStageNext(href="#") Next
        .stagesItem
          +identification({
            header: 'Government-issued ID',
            dscr: 'Take a picture of your ID. Choose one type of document to upload',
            list: ['Passport', 'Driven lisence'],
            icon: 'identification-id.svg',
            type: 'id'
          })
          +identification({
            header: 'Facial recognition',
            dscr: 'Take a selfie holding you ID. Please make sure',
            list: ['Face towards the camera, clearly visible, with proper brightness', 'Citizen identification number is clearly shown, the image of yourself on the passport/driven lisence is not blurred or covered', 'Use your original passport/driven lisence'],
            icon: 'identification-face.svg',
            type: 'upload'
          })
          .stagesFooter
            a.btn.btn-link.btn-xs.me-20(href="#") Cancel
            a.btn.btn-primary.btn-xs.jsStageNext(href="#") Next
        .stagesItem
          h6.mb-10 Confirm residential address
          +warning({
            content: 'Please enter the address as it appears on your document that you are about to upload, or you’ll be rejected'
          })
          form.form.form--dark(action="#", method="POST")
            .form__item
              .form__label.form-label Country
              +select({
                type: 'countries'
              }).select_Countries
            .form__item
              .form__label.form-label Registered address
              input.input.form-control(type="text")
            .row.mb-20.mb-xl-30
              .col-sm-6
                .form__item
                  .form__label.form-label Postal code
                  input.input.form-control(type="text")
              .col-sm-6
                .form__item
                  .form__label.form-label City
                  input.input.form-control(type="text")
            +identification({
              header: 'Proof of address',
              dscr: 'The following criteria have to be met',
              list: ['Name on document must be same as submitted ID', 'Address on document must be same as inputted residential address', 'Document must not be older than 3 months'],
              icon: 'identification-document.svg',
              type: 'address'
            }).mb-20
            .form__item
              .form__label.form-label Document
              +select.select--normal
                option Municipality bill for utility services
                option Municipal rates and taxes statement
                option Internet service bill
                option Bank statement
                option Bank reference letter
                option Mortgage statement
                option Body corparate statement
                option Building management statement
                option Landline telephone bill (mobile bills are not acceptable)
            +file
          .stagesFooter
            a.btn.btn-link.btn-xs.me-20(href="#") Back
            a.btn.btn-primary.btn-xs.jsStageNext(href="#") Next
        .stagesItem
          .stagesItemSection
            h6 Government-issued ID
            +doc({
              picture: 'id-doc.jpg',
              size: '720 KB',
              noRemove: true
            })
          .stagesItemSection
            h6 Facial recognition
            +doc({
              picture: 'id-photo.jpg',
              size: '720 KB',
              noRemove: true
            })
          .stagesItemSection.mb-20
            h6 Residential address
            +parameter({
              header: 'Country',
              content: 'United States',
              type: 'country'
            })
            +parameter({
              header: 'Registered address',
              content: '132, My Street, Kingston'
            })
            +parameter({
              header: 'Postal code',
              content: '12401'
            })
            +parameter({
              header: 'City',
              content: 'New York'
            })
          .stagesItemSection
            h6 Proof of address
            +parameter({
              header: 'Document',
              content: 'Municipality bill for utility services'
            })
            +doc({
              picture: 'id-invoice.jpg',
              size: '720 KB',
              noRemove: true
            })
          +remark({
            title: 'Review time: 3 days'
          }).remark--info
          .stagesFooter
            a.btn.btn-link.btn-xs.me-20(href="#") Back
            a.btn.btn-primary.btn-xs(href="#") Verify
    
    

        
        
mixin stagesHeader(data)
  .stagesHeader&attributes(attributes)
    each item, index in data.list
      if index == 0
        .stagesHeaderItem.stagesHeaderItem_Active
          div
            span= index+1
          p= item
      else
        .stagesHeaderItem
          div
            span= index+1
          p= item
