.partners {
  margin-bottom: 96px;

  @include media-breakpoint-down(lg) {
    margin-bottom: 48px;
  }

  &__header {
    margin-bottom: 32px;
    text-align: center;
    color: $gray;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(lg) {
      margin-bottom: -24px;
      justify-content: center;
    }
  }

  &__item {
    max-width: 250px;

    @include media-breakpoint-down(xl) {
      max-width: 200px;
    }

    @include media-breakpoint-down(lg) {
      margin-bottom: 24px;
      padding: 0 16px;
      display: flex;
      max-width: 33.33%;
      justify-content: center;
      align-items: center;
    }

    @include media-breakpoint-down(md) {
      max-width: 50%;
    }
  }

  &__logo {
    max-width: 100%;
    max-height: 100%;

    @include media-breakpoint-down(lg) {
      max-width: 80%;
    }
  }
}
