mixin partners(data)
  .partners&attributes(attributes)
    p.partners__header We’ve worked with some great startups
    .partners__list
      .partners__item
        img.partners__logo(src="./img/partner-1.png", alt)
      .partners__item
        img.partners__logo(src="./img/partner-2.png", alt)
      .partners__item
        img.partners__logo(src="./img/partner-3.png", alt)
      .partners__item
        img.partners__logo(src="./img/partner-4.png", alt)
