.enter {
  position: relative;
  padding: 104px 0 84px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../img/enter-bg.jpg) no-repeat center;
  background-size: cover;

  @include media-breakpoint-down(sm) {
    padding-bottom: 60px;
  }

  &__content {
    margin: 0 auto;
    padding: 32px;
    max-width: 443px;
    color: #fff;
    background: $dark;
    border: 1px solid #2c3645;
    border-radius: 16px;
    box-shadow: 0 12px 16px -4px rgba(16, 24, 40, .06), 0 4px 6px -2px rgba(16, 24, 40, .02);

    @include media-breakpoint-down(sm) {
      padding: 24px 16px;
    }
  }

  &__header {
    margin-bottom: 8px;
    text-align: center;
  }

  &__subheader {
    margin-bottom: 40px;
    font-size: 12px;
    line-height: 1.4;
    text-align: center;
    color: $light;

    @include media-breakpoint-down(sm) {
      margin-bottom: 24px;
    }
  }

  &__bottom {
    position: absolute;
    bottom: 0;
    padding-bottom: 48px;
    text-align: center;

    @include media-breakpoint-down(sm) {
      padding-bottom: 20px;
    }
  }

  &__footer {
    margin-bottom: 0;
    color: #747e93;

    a {
      text-decoration: none;
      color: #9a7ddb;

      @include transition;

      &:hover {
        opacity: .7;
      }
    }
  }
}
