.parameter {
  display: flex;
  align-items: baseline;

  @include media-breakpoint-down(sm) {
    margin-bottom: 8px;
    flex-direction: column;
    align-items: flex-start;
  }

  &__header {
    padding-right: 24px;
    width: 100%;
    max-width: 204px;
    flex-shrink: 0;

    p {
      margin-bottom: 12px;
      color: #9fa4ac;

      @include media-breakpoint-down(sm) {
        margin-bottom: 8px;
      }
    }
  }

  &__content {
    color: $light;

    p {
      margin-bottom: 12px;
    }
  }

  &__country {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      margin-bottom: 12px;
    }

    p {
      margin-bottom: 0;
    }
  }

  &__flag {
    margin-right: 12px;
    max-width: 20px;
    max-height: 20px;
    flex-shrink: 0;

    img {
      display: block;
      max-width: 100%;
    }
  }

  &--sm {

    p {
      margin-bottom: 12px;
      font-size: 14px;
    }
  }

  &--features {

    .parameter__header {
      position: relative;
      top: -7px;

      @include media-breakpoint-down(sm) {
        top: auto;
      }

      p {
        font-size: 14px;
      }
    }

    & + & {
      margin-top: 16px;
    }
  }
}
