mixin parameter(data)
  .parameter&attributes(attributes)
    .parameter__header
      p= data.header
    .parameter__content
      if data && data.features
        each item in data.features
          .attribute.p= item
      else
        if data && data.type == 'country'
          .parameter__country
            .parameter__flag
              img(src="./img/us.svg", alt)
            p!= data.content
        else
          p!= data.content
