.link {
  flex-shrink: 0;
  text-decoration: none;
  color: $violet;

  @include transition;

  &:hover {
    color: lighten($violet, 10%);
  }

  &--gray {
    color: #667085;
  }

  &_Arrow {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.43;
    font-weight: 500;
    color: #9a7ddb;

    @include media-breakpoint-down(md) {
      font-size: 12px;
    }

    &:after {
      margin-left: 4px;
      display: block;
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      content: '';
      background: url(../img/link-arrow.svg) no-repeat center;
      background-size: contain;

      @include transition;
    }

    &:hover {

      &:after {
        transform: translateX(3px);
      }
    }
  }

  &_Back {
    flex-direction: row-reverse;

    &:hover {

      &:after {
        transform: rotate(180deg) translateX(3px);
      }
    }

    &:after {
      margin-right: 4px;
      margin-left: 0;
      transform: rotate(180deg);
    }
  }

  &_Plus {
    display: flex;
    align-items: center;
    font-size: 14px;

    &:before {
      margin-right: 4px;
      display: block;
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      content: '';
      background: url(../img/link-plus.svg) no-repeat center;
      background-size: contain;
    }
  }
}
