extends ../templates/template.pug
block content
  .cabinet__wrapper
    +header({
      type: 'user',
      modifier: 'info'
    }).header--inner
    .cabinet
      .cabinet__aside
        .aside
          .aside__top
            a.aside__btn.aside__btn--dashboard.aside__btn--active(href="dashboard-initial.html") Dashboard
            a.aside__btn.aside__btn--orders(href="cabinet-settings-data.html") Orders
            a.aside__btn.aside__btn--assets(href="cabinet-settings-data.html") Custom assets
            a.aside__btn.aside__btn--history(href="cabinet-settings-data.html") History
            a.aside__btn.aside__btn--settings(href="cabinet-settings-data.html") Settings
          .aside__bottom
            a.aside__btn.aside__btn--logout(href="#") Log out
            span.aside__copyright © 2022 Manax. All rights reserved.
      .cabinet__content.cabinet__content--dashboard
        .dashboard
          .dashboardItem.dashboardItem_Greetings
            +greetings({
              status: 'Not verified',
              type: 'gray'
            }).module
          .dashboardItem.dashboardItem_Balance
            +balance({
              number: '$0.00'
            }).module
          .dashboardItem.dashboardItem_Start
            +start.module
          .dashboardItem.dashboardItem_Statuses
            +statuses({
              total: '0'
            }).module
          .dashboardItem.dashboardItem_Costs
            +costs({
              total: '$0.00'
            }).module
          .dashboardItem.dashboardItem_Half.dashboardItem_Column
            +create.module
            +security.module
          .dashboardItem.dashboardItem_Half
            +activity.module
