extends ../templates/template.pug
block content
  +header({
    type: 'user'
  }).header--inner
  .stagesWrapper
    .stagesWrapperInner
      .container
        a.link.link_Arrow.link_Back.mb-15(href="#") Back to settings
        h6.lg.text-light.mb-30 Identity veryfication
        +confirmation({
          header: 'Verification information sent',
          subheader: "Review time: 3 days",
          type: 'confirmed',
          btn: 'Back to settings'
        }).confirmation_Wide
