extends ../templates/template.pug
block content
  +header({
    type: 'user'
  }).header--inner
  .stagesWrapper
    .container
      .stagesWrapperInner
        a.link.link_Arrow.link_Back.mb-15(href="#") Back to settings
        h6.lg.text-light.mb-30 Identity veryfication
        +stages({
          type: 'identification',
          list: ['Identity document', 'Proof of address', 'Summary']
        }).stages_Page
