extends ../templates/template.pug
block content
  .enter
    +header({
      type: 'enter',
      btnLink: 'Not a member?'
    }).header--absolute.header--login
    .container
      .enter__content
        h4.enter__header Sign in
        .enter__subheader to access your account
        form.form.form--dark(action="#", method="POST")
          .form__item
            .form__label.form-label Email
            input.input.form-control(type="email", name="email", placeholder="you@company.com", required)
          .form__item
            .form__label.form-label Password
            .form__item-password
              input.input.form-control(type="password", name="email", required)
              a.form__password-view(href="#")
          button.btn.btn-primary.w-100.mt-15(type="submit") Sign in
          a.form__link(href="#") Forgot your password?
    .enter__bottom
      .container
        p.sm.enter__footer Contact us at 
          a(href="mailto:support@manax.net") support@manax.net 
          | if you have problems
