extends ../templates/template.pug
block content
  +header({
    type: 'menu'
  }).header--absolute
  +front
  .section
    .container
      .section__top
        p.section__subheader Features
        h3.section__header Get your white label and pay monthly fixed-price
      .row.section__grid
        .col-md-6.col-lg-4.d-flex
          +feature({
            icon: 'feature-1.svg',
            title: 'Complete brokerage solution',
            dscr: 'Front Trader’s Room, Trading Platform and Back-Office'
          })
        .col-md-6.col-lg-4.d-flex
          +feature({
            icon: 'feature-2.svg',
            title: 'Multi-product offering',
            dscr: 'WOW TRADER, WOW SIMPLE, 3rd Party Terminals'
          })
        .col-md-6.col-lg-4.d-flex
          +feature({
            icon: 'feature-3.svg',
            title: 'Multi base currency',
            dscr: 'Deposit and withdraw with ease of 100+ integrations for Fiat'
          })
        .col-md-6.col-lg-4.d-flex
          +feature({
            icon: 'feature-4.svg',
            title: 'Fast deployment',
            dscr: 'With stand-alone, embedded platform, widgets, or powerful API'
          })
        .col-md-6.col-lg-4.d-flex
          +feature({
            icon: 'feature-5.svg',
            title: 'Risk manager',
            dscr: 'Unlimited groups and high-risk watchlist with Set Groups by country /campaign'
          })
        .col-md-6.col-lg-4.d-flex
          +feature({
            icon: 'feature-6.svg',
            title: 'Fanatical support',
            dscr: '24/7 monitoring and support in multiple languages via Skype and Freshdesk'
          })
  .section.section--dark
    .container
      .section__top
        p.section__subheader Pricing
        h3.section__header Select a package that fit your budget
      .section__plans
        .row.section__plans-content
          .col-sm-4.d-flex
            +plan({
              price: '$50,000',
              title: 'Basic plan',
              features: ['Access to all basic features', 'Basic reporting and analytics', 'Up to 10 individual users', '20GB individual data each user', 'Basic chat and email support']
            }).plan--popular
          .col-sm-4.d-flex
            +plan({
              price: '$120,000',
              title: 'Business plan',
              features: ['200+ integrations', 'Advanced reporting and analytics', 'Up to 20 individual users', '40GB individual data each user', 'Priority chat and email support']
            })
          .col-sm-4.d-flex
            +plan({
              price: '$200,000',
              title: 'Enterprise plan',
              features: ['Advanced custom fields', 'Audit log and data history', 'Unlimited individual users', 'Unlimited individual data', 'Personalised+priotity service']
            })
  .section.section--advantages
    .container
      .section__top.text-start
        .row
          .col-lg-7.col-sm-8
            p.section__subheader Features
            h4.section__header Your white label trading platform
            p.lg.text-light.mb-0 Spend smarter, lower your bills, get cashback on everything you buy, and unlock credit to grow your business.
      .row
        .col-lg-6.col-sm-8
          +advantage({
            icon: 'feature-2.svg',
            title: 'Unlimited cards',
            dscr: 'Give your team the autonomy they need with access to as many cards as they need. Authorise purchases with a click. Simple.'
          })
          +advantage({
            icon: 'feature-7.svg',
            title: 'Easy expense policies',
            dscr: 'Every card comes with configurable spending limits, purchase restrictions, and cancellations for each employee and team.'
          })
          +advantage({
            icon: 'feature-3.svg',
            title: 'Advanced analytics',
            dscr: 'An all-in-one platform that helps you balance everything your team need to be happy and your finances in order.'
          })
  .section
    .container
      +partners
      +trial
  .section.section--dark
    .container
      .row
        .col-xl-8.mx-auto
          .section__top
            p.section__subheader Integrations
            h3.section__header Technologies and services
            p.lg.text-gray.text-center.mb-0 Connect your tools, connect your teams. With over 200 apps already available in our directory, your team’s favourite tools are just a click away.
      +integrations
  .section.pt-0
    .container
      +application
  +footer
