extends ../templates/template.pug
block content
  .cabinet__wrapper
    +header({
      type: 'user',
      modifier: 'notifications',
      notifications: 6
    }).header--inner
    .cabinet
      .cabinet__aside
        .aside
          .aside__top
            a.link.link_Arrow.asideBack(href="#") Back
            .aside__subheader Notifications
            a.aside__btn.aside__btn--envelope.aside__btn--active(href="dashboard-initial.html") 
              p All
                span 6
            a.aside__btn.aside__btn--rocket(href="cabinet-settings-data.html") 
              p Promotions
                span 1
            a.aside__btn.aside__btn--info(href="cabinet-settings-data.html") 
              p News
                span 3
            a.aside__btn.aside__btn--check(href="cabinet-settings-data.html") 
              p Successful actions
                span 1
            a.aside__btn.aside__btn--warning(href="cabinet-settings-data.html") 
              p System messages
                span 1
          .aside__bottom
            a.aside__btn.aside__btn--logout(href="#") Log out
            span.aside__copyright © 2022 Manax. All rights reserved.
      .cabinet__content
        .cabinet__content-header
          .cabinet__content-title All notifications
          a.link(href="#") Mark all as read
        +notifications
        +pagination
