extends ../templates/template.pug
block content
  .cabinet__wrapper
    +header({
      type: 'user',
      modifier: 'info'
    }).header--inner
    .cabinet
      .cabinet__aside
        .aside
          .aside__top
            a.aside__btn.aside__btn--orders.aside__btn--active(href="cabinet-orders.html") Orders
            a.aside__btn.aside__btn--settings(href="cabinet-settings-data.html") Settings
          .aside__bottom
            a.aside__btn.aside__btn--logout(href="#") Log out
            span.aside__copyright © 2022 Manax. All rights reserved.
      .cabinet__content
        .cabinet__content-header.cabinet__content-header--back
          +back
          .cabinet__content-title.me-10 Buy a subscription
        .cabinet__inner.cabinet__inner--default
          form.form.form--dark(action="#", method="POST")
            .cabinet__inner-section
              h6.cabinet__inner-section-header General data
              +parameter({
                header: 'Company',
                content: 'CompX'
              })
              +parameter({
                header: 'Domain',
                content: 'compx.com'
              })
              +parameter({
                header: 'Language',
                content: 'English, Português'
              })
            .cabinet__inner-section
              h6.cabinet__inner-section-header Features
              .form__item
                .form__label.form__label--check.form-label You will have next features
                .row
                  .col-xl-4
                    .attribute.p Excellent feature with the really long name number one
                    .attribute.p Feature two with short name
              .form__item
                .form__label.form__label--check.form-label Choose more features if you want
                .form-check.form__check.mb-25
                  input.form-check-input#check1(type='checkbox' value='' required)
                  label.form-check-label.text-white(for='check1') All features
                .row
                  .col-xl-4.form__checks-section
                    .form-check.form-check--minus.form-check--default.form__check
                      input.form-check-input#check1(type='checkbox' value='' required)
                      label.form-check-label(for='check1') Basic
                        span.form-check-label__comment  
                    .form-check.form-check--default.form__check
                      input.form-check-input#check1(type='checkbox' value='' required)
                      label.form-check-label(for='check1') Feature number one
                    .form-check.form-check--default.form__check
                      input.form-check-input#check1(type='checkbox' value='' required)
                      label.form-check-label(for='check1') Excellent feature with the really long name number two
                    .form-check.form-check--default.form__check
                      input.form-check-input#check1(type='checkbox' value='' required)
                      label.form-check-label(for='check1') Feature with short name number three
                    .form-check.form-check--default.form__check
                      input.form-check-input#check1(type='checkbox' value='' required)
                      label.form-check-label(for='check1') Feature four with one line
                  .col-xl-4.form__checks-section
                    .form-check.form-check--default.form__check
                      input.form-check-input#check1(type='checkbox' value='' required)
                      label.form-check-label(for='check1') Basic
                        span.form-check-label__comment + all in basic
                    .form-check.form-check--default.form__check
                      input.form-check-input#check1(type='checkbox' value='' required)
                      label.form-check-label(for='check1') Feature with short name number one
                    .form-check.form-check--default.form__check
                      input.form-check-input#check1(type='checkbox' value='' required)
                      label.form-check-label(for='check1') Feature two with one line
                    .form-check.form-check--default.form__check
                      input.form-check-input#check1(type='checkbox' value='' required)
                      label.form-check-label(for='check1') Feature number three
                    .form-check.form-check--default.form__check
                      input.form-check-input#check1(type='checkbox' value='' required)
                      label.form-check-label(for='check1') Excellent feature with the really long name number four
                  .col-xl-4.form__checks-section
                    .form-check.form-check--default.form__check
                      input.form-check-input#check1(type='checkbox' value='' required)
                      label.form-check-label(for='check1') Enterprise
                        span.form-check-label__comment + all in business
                    .form-check.form-check--default.form__check
                      input.form-check-input#check1(type='checkbox' value='' required)
                      label.form-check-label(for='check1') Excellent feature with the really long name number one
                    .form-check.form-check--default.form__check
                      input.form-check-input#check1(type='checkbox' disabled value='' required)
                      label.form-check-label(for='check1') Feature with short name number two
                        span.form-check-label__comment Not applied in your country
                    .form-check.form-check--default.form__check
                      input.form-check-input#check1(type='checkbox' value='' required)
                      label.form-check-label(for='check1') Feature three with one line
                    .form-check.form-check--default.form__check
                      input.form-check-input#check1(type='checkbox' value='' required)
                      label.form-check-label(for='check1') Feature number four
            .cabinet__inner-section
              h6.cabinet__inner-section-header Payment method
              .cabinet__payment-header
                p.fw-medium.me-10 Wise
                a.p.sm.link.d-block.mb-25.mb-xl-40(href="#payment", data-fancybox) Change
              +modal({
                type: 'payment'
              }).modal--thin#payment
              .row
                .col-xl-8
                  .row
                    .col-12
                      .form__item
                        .form__label.form-label IBAN
                        input.input.form-control(type="text")
                        p.sm.text-gray.mt-5.mb-0 Up to 34 numbers and letters
                  .row
                    .col-xl-6
                      .form__item
                        .form__label.form-label Account holder
                        input.input.form-control(type="text")
                    .col-xl-6
                      .form__item
                        .form__label.form-label Email
                        input.input.form-control(type="email")
            .cabinet__inner-section
              h6.cabinet__inner-section-header Price
              +parameter({
                header: 'Monthly amount',
                content: '$80 000'
              })
            .cabinet__btns-wrapper
              a.btn.btn-primary.btn-xs.cabinet__btn.px-15(href="#") Buy a subscription
              a.btn.btn-link.btn-xs.cabinet__btn.px-35(href="#") Cancel
