extends ../templates/template.pug
block content
  .cabinet__wrapper
    +header({
      type: 'user',
      modifier: 'info'
    }).header--inner
    .cabinet
      .cabinet__aside
        .aside
          .aside__top
            a.aside__btn.aside__btn--orders.aside__btn--active(href="cabinet-orders.html") Orders
            a.aside__btn.aside__btn--settings(href="cabinet-settings-data.html") Settings
          .aside__bottom
            a.aside__btn.aside__btn--logout(href="#") Log out
            span.aside__copyright © 2022 Manax. All rights reserved.
      .cabinet__content
        .cabinet__content-header.cabinet__content-header--back
          +back
          .cabinet__content-title.me-10 Exchange
          p.me-10.mb-0 from 5/20/2022 
            span.text-gray-dark 5:16 PM
          .cabinet__content-header-statuses
            .status.status--active Active
            .status.status--demo Demo
        .cabinet__inner.cabinet__inner--default
          .row
            .col-xl-7
              .cabinet__inner-section
                h6.cabinet__inner-section-header General data
                +parameter({
                  header: 'Company',
                  content: 'CompX'
                })
                +parameter({
                  header: 'Domain',
                  content: 'compx.com'
                })
                +parameter({
                  header: 'Language',
                  content: 'English, Português'
                })
              .cabinet__inner-section
                h6.cabinet__inner-section-header Features
                +parameter({
                  header: 'Default features',
                  features: ['Excellent feature with the really long name number one', 'Feature two with short name']
                }).parameter--features
                +parameter({
                  header: 'Basic features',
                  features: ['Feature number one', 'Feature with short name number three']
                }).parameter--features
                .cabinet__inner-section-more
                  +parameter({
                    header: 'Business features',
                    features: ['Feature with short name number one', 'Feature two with one line', 'Feature number three', 'Excellent feature with the really long name number four']
                  })
                a.p.sm.link.cabinet__inner-section-more-btn(href="#") More
              .cabinet__inner-section
                h6.cabinet__inner-section-header Price
                +parameter({
                  header: 'Active mode',
                  content: '10-days free trial'
                })
                +parameter({
                  header: 'Expire date',
                  content: '5/30/2022 <span class="text-gray-dark">10 days left</span>'
                })
                +parameter({
                  header: 'Amount per month',
                  content: '$135 010'
                })
          .cabinet__btns-wrapper
            a.btn.btn-primary.btn-xs.cabinet__btn.px-15(href="#") Buy a subscription
            a.btn.btn-link.btn-xs.cabinet__btn.px-35(href="#") Cancel order
