extends ../templates/template.pug
block content
  .enter
    +header({
      type: 'enter',
      btnLink: 'Have an account?',
      btnText: true
    }).header--absolute.header--login
    .container
      .enter__content
        h4.enter__header Sign up
        .enter__subheader to open your account
        form.form.form--dark(action="#", method="POST")
          .form__item
            .form__label.form-label Full name
            input.input.form-control(type="text", name="name", placeholder="Jone Doe", required)
          .form__item.form__item--optional
            .form__label.form-label Company
            input.input.form-control(type="text", name="company", placeholder="Company name")
          .form__item
            .form__label.form-label Email
            input.input.form-control(type="email", name="email", placeholder="you@company.com", required)
          .form__item.form__item--optional
            .form__label.form-label Phone number
            .form__phone
              select.form-select.form__select.form__phone-select(required='')
                option(selected value='+1') US
                option(value='+380') UA
              input.input.form-control.form__phone-input(type="text", placeholder="+1 (555) 000-0000", name="phone")
          .form__item.form__item--optional
            .form__label.form-label Telegram
            input.input.form-control(type="text", name="company", placeholder="@username")
          .form__item
            .form__label.form-label Password
            .form__item-password
              input.input.form-control(type="password", name="email", required)
              a.form__password-view(href="#")
            .form__password-strength.form__password-strength--active 10+ characters
            .form__password-strength uppercase and lowercase letters
            .form__password-strength a number
          .form-check.form__check.form__check--enter
            input.form-check-input#agreement(type='checkbox' value='' required)
            label.form-check-label(for='agreement') You agree to our friendly 
              a(href="#") privacy policy
          button.btn.btn-primary.w-100.mt-15(type="submit") Get started
    .enter__bottom
      .container
        p.sm.enter__footer Contact us at 
          a(href="mailto:support@manax.net") support@manax.net 
          | if you have problems
