extends ../templates/template.pug
block content
  .enter
    +header({
      type: 'enter',
      btnLink: 'Not a member?'
    }).header--absolute.header--login
    .container
      +confirmation({
        header: 'Security verification',
        subheader: "We've sent an email to al***@compx.com with a five digit code. Enter the code below",
        inputs: 5,
        type: 'resend',
        bottomLink: 'Switch to Google authenticator',
        modifier: 'security'
      }).confirmation_Security
    .enter__bottom
      .container
        p.sm.enter__footer Contact us at 
          a(href="mailto:support@manax.net") support@manax.net 
          | if you have problems
