extends ../templates/template.pug
block content
  .enter
    +header({
      type: 'enter',
      btnLink: 'Not a member?'
    }).header--absolute.header--login
    .container
      +confirmation({
        header: 'Security verification',
        subheader: "Enter a six digit code from Google authenticator app",
        inputs: 6,
        bottomLink: 'Switch to email verification',
        modifier: 'security'
      }).confirmation_Security
    .enter__bottom
      .container
        p.sm.enter__footer Contact us at 
          a(href="mailto:support@manax.net") support@manax.net 
          | if you have problems
