extends ../templates/template.pug
block content
  +header({
    type: 'user'
  }).header--inner
  .cabinet
    .cabinet__aside
      .aside
        .aside__top
          a.link.link_Arrow.asideBack(href="#") Back
          .aside__subheader Settings
          .asideItem
            a.aside__btn.aside__btn--info(href="#") Personal info
          .asideItem
            a.aside__btn.aside__btn--subheader.aside__btn--security(href="#") Security
            .asideSubmenu
              a(href="#") Two-factor authentication (2FA)
              a(href="#") Password
              a(href="#") Account activity
          .asideItem
            a.aside__btn.aside__btn--identification(href="#") Identification
          .asideItem
            a.aside__btn.aside__btn--payment.aside__btn--active(href="#") Payment
        .aside__bottom
          span.aside__copyright © 2022 Manax. All rights reserved.
    .cabinet__content
      .cabinet__content-header
        .cabinet__content-title Payment
      .cabinet__inner.cabinet__inner--default
        .cabinetInnerWrapper
          form.form.form--dark(action="#", method="POST")
            .cabinet__inner-section
              h6.cabinet__inner-section-header Manage payment method
              +payment({
                icon: 'cash.svg',
                title: 'Balance',
                subtitle: '$ 0.00',
                btns: ['Deposit'],
                radio: 'balance'
              }).payment_Radio.mb-20
              +payment({
                icon: 'card.svg',
                title: 'Bank account ending in 8546',
                subtitle: 'Expiry 06/2024',
                btns: ['Delete', 'Edit'],
                radio: 'bank'
              }).payment_Radio.mb-25
          .row
            .col-xxl-8.col-xl-10
              form.form.form--dark(action="#", method="POST")
                .formHeader
                  p PayPal
                  a.link(href="#") Change
                .row
                  .col-md-6
                    .form__item
                      .form__label.form-label Account holder
                      input.input.form-control(type="text")
                  .col-md-6
                    .form__item
                      .form__label.form-label Email
                      input.input.form-control(type="email")
                .form__footer
                  button.btn.btn-primary.btn-xs(type="submit") Save
                  a.btn.btn-link.btn-xs(href="#") Cancel
            +modal({
              type: 'paymentNew'
            }).modal--thin#paymentNew
