extends ../templates/template.pug
block content
  +header({
    type: 'user'
  }).header--inner
  .cabinet
    .cabinet__aside
      .aside
        .aside__top
          a.aside__btn.aside__btn--orders(href="cabinet-orders.html") Orders
          a.aside__btn.aside__btn--settings.aside__btn--active(href="cabinet-settings.html") Settings
        .aside__bottom
          a.aside__btn.aside__btn--logout(href="#") Log out
          span.aside__copyright © 2022 Manax. All rights reserved.
    .cabinet__content
      .cabinet__content-header
        .cabinet__content-title Settings
      .cabinet__inner
        .cabinet__inner-aside
          a.cabinet__inner-link(href="cabinet-settings-data.html") Personal data
          a.cabinet__inner-link(href="cabinet-settings-password.html") Password
          a.cabinet__inner-link.cabinet__inner-link--active(href="cabinet-settings-data.html") Payment method
        .cabinet__inner-content.cabinet__inner--default
          .row
            .col-xl-9
              .cabinet__inner-section
                h6.cabinet__inner-section-header Manage payment method
                +payment({
                  icon: 'card.svg',
                  title: 'Bank account ending in 8546',
                  btns: ['Delete', 'Edit']
                }).mb-20
              .cabinet__inner-section
                .cabinet__payment-header
                  h6.cabinet__inner-section-header.me-10 Paypal
                  a.p.sm.link(href="#payment", data-fancybox) Change
                  +modal({
                    type: 'payment'
                  }).modal--thin#payment
              form.form.form--dark(action="#", method="POST")
                .row
                  .col-xl-6
                    .form__item
                      .form__label.form-label Account holder
                      input.input.form-control(type="text")
                  .col-xl-6
                    .form__item
                      .form__label.form-label Email
                      input.input.form-control(type="email")
                button.btn.btn-primary.btn-xs(type="submit") Save
