extends ../templates/template.pug
block content
  +header({
    type: 'user'
  }).header--inner
  .cabinet
    .cabinet__aside
      .aside
        .aside__top
          a.aside__btn.aside__btn--orders(href="cabinet-orders.html") Orders
          a.aside__btn.aside__btn--settings.aside__btn--active(href="cabinet-settings.html") Settings
        .aside__bottom
          a.aside__btn.aside__btn--logout(href="#") Log out
          span.aside__copyright © 2022 Manax. All rights reserved.
    .cabinet__content
      .cabinet__content-header
        .cabinet__content-title Settings
      .cabinet__inner
        .cabinet__inner-aside
          a.cabinet__inner-link(href="cabinet-settings-data.html") Personal data
          a.cabinet__inner-link.cabinet__inner-link--active(href="cabinet-settings-password.html") Password
        .cabinet__inner-content
          h6.text-white.mb-20.mb-xl-30 Change password
          form.form.form--dark.cabinet__inner-form(action="#", method="POST")
            .form__item
              .form__label.form-label Old password
              .form__item-password
                input.input.form-control(type="password", name="password", required)
                a.form__password-view(href="#")
            .form__item
              .form__label.form-label New password
              .form__item-password
                input.input.form-control(type="password", name="password", required)
                a.form__password-view(href="#")
              .form__password-strength.form__password-strength--active 10+ characters
              .form__password-strength uppercase and lowercase letters
              .form__password-strength a number
            .form__item
              .form__label.form-label Confirm new password
              .form__item-password
                input.input.form-control(type="password", name="password", required)
                a.form__password-view(href="#")
            button.btn.btn-primary.mt-15(type="submit") Save
