extends ../templates/template.pug
block content
  +header({
    type: 'user'
  }).header--inner
  .cabinet
    .cabinet__aside
      .aside
        .aside__top
          a.link.link_Arrow.asideBack(href="#") Back
          .aside__subheader Settings
          .asideItem
            a.aside__btn.aside__btn--info.aside__btn--active(href="#") Personal info
          .asideItem
            a.aside__btn.aside__btn--subheader.aside__btn--security(href="#") Security
            .asideSubmenu
              a(href="#") Two-factor authentication (2FA)
              a(href="#") Password
              a(href="#") Account activity
          .asideItem
            a.aside__btn.aside__btn--identification(href="#") Identification
          .asideItem
            a.aside__btn.aside__btn--payment(href="#") Payment
        .aside__bottom
          span.aside__copyright © 2022 Manax. All rights reserved.
    .cabinet__content
      .cabinet__content-header
        .cabinet__content-title Personal info
      .cabinet__inner
        .cabinetInnerWrapper
          form.form.form--dark.cabinet__inner-form.cabinet__inner-form--hor(action="#", method="POST")
            .cabinet__photo
              .cabinet__photo-picture AK
                //img.cabinet__photo-picture-img(src="./img/user.jpg", alt)
              +file-btn({
                title: 'Edit'
              }).file-btn--link
            .cabinetInfoWrapper
              .form__item
                .form__label.form-label Full name
                input.input.form-control(type="text", name="name", placeholder="Jone Doe", required)
              .form__item
                .form__label.form-label Company
                input.input.form-control(type="text", name="company", placeholder="Company name")
              .form__item
                .form__label.form-label Phone number
                .form__phone
                  select.form-select.form__select.form__phone-select(required='')
                    option(selected value='+1') US
                    option(value='+380') UA
                  input.input.form-control.form__phone-input(type="text", placeholder="+1 (555) 000-0000", name="phone")
              .form__item
                .form__label.form-label Telegram
                input.input.form-control(type="text", name="company", placeholder="@username")
              .form__footer.mt-30
                button.btn.btn-primary.btn-xs2(type="submit") Save changes
                a.btn.btn-link.btn-xs2.ms-20(href="#") Cancel
