extends ../templates/template.pug
block content
  +header({
    type: 'user'
  }).header--inner
  .cabinet
    .cabinet__aside
      .aside
        .aside__top
          a.link.link_Arrow.asideBack(href="#") Back
          .aside__subheader Settings
          .asideItem
            a.aside__btn.aside__btn--info.aside__btn--active(href="#") Personal info
          .asideItem
            a.aside__btn.aside__btn--security(href="#") Security
            .asideSubmenu
              a.asideSublink(href="#") Two-factor authentication (2FA)
              a.asideSublink(href="#") Password
              a.asideSublink(href="#") Account activity
          .asideItem
            a.aside__btn.aside__btn--identification(href="#") Identification
          .asideItem
            a.aside__btn.aside__btn--payment(href="#") Payment
        .aside__bottom
          span.aside__copyright © 2022 Manax. All rights reserved.
    .cabinet__content
      .cabinet__content-header
        .cabinet__content-title Change password
      .cabinet__inner.cabinet__inner--default
        form.form.form--dark.cabinet__inner-form.px-0(action="#", method="POST")
          .form__item
            .form__label.form-label Old password
            .form__item-password
              input.input.form-control(type="password", name="password", required)
              a.form__password-view(href="#")
          .form__item
            .form__label.form-label New password
            .form__item-password
              input.input.form-control(type="password", name="password", required)
              a.form__password-view(href="#")
            .form__password-strength.form__password-strength--active 10+ characters
            .form__password-strength uppercase and lowercase letters
            .form__password-strength a number
          .form__item
            .form__label.form-label Confirm new password
            .form__item-password
              input.input.form-control(type="password", name="password", required)
              a.form__password-view(href="#")
          .form__footer.mt-30
            a.btn.btn-primary.btn-xs(href="#") Save changes
            a.btn.btn-link.btn-xs.ms-20(href="#") Cancel
