extends ../templates/template.pug
block content
  +header({
    type: 'user'
  }).header--inner
  .cabinet
    .cabinet__aside
      .aside
        .aside__top
          a.link.link_Arrow.asideBack(href="#") Back
          .aside__subheader Settings
          .asideItem
            a.aside__btn.aside__btn--info(href="#") Personal info
          .asideItem
            a.aside__btn.aside__btn--security(href="#") Security
            .asideSubmenu.asideSubmenu_Active
              a.asideSublink(href="#") Two-factor authentication (2FA)
              a.asideSublink(href="#") Password
              a.asideSublink.asideSublink_Active(href="#") Account activity
          .asideItem
            a.aside__btn.aside__btn--identification(href="#") Identification
          .asideItem
            a.aside__btn.aside__btn--payment(href="#") Payment
        .aside__bottom
          span.aside__copyright © 2022 Manax. All rights reserved.
    .cabinet__content
      .cabinet__content-header
        .cabinet__content-title Account activity
      .cabinet__inner.cabinet__inner--standard
        +board
