extends ../templates/template.pug
block content
  +header({
    type: 'user'
  }).header--inner
  .cabinet
    .cabinet__aside
      .aside
        .aside__top
          a.link.link_Arrow.asideBack(href="#") Back
          .aside__subheader Settings
          .asideItem
            a.aside__btn.aside__btn--info(href="#") Personal info
          .asideItem
            a.aside__btn.aside__btn--subheader.aside__btn--security.aside__btn--active(href="#") Security
            .asideSubmenu
              a(href="#") Two-factor authentication (2FA)
              a(href="#") Password
              a(href="#") Account activity
          .asideItem
            a.aside__btn.aside__btn--identification(href="#") Identification
          .asideItem
            a.aside__btn.aside__btn--payment(href="#") Payment
        .aside__bottom
          span.aside__copyright © 2022 Manax. All rights reserved.
    .cabinet__content
      .cabinet__content-header.cabinet__content-header--column
        .cabinet__content-title Two-factor authentication (2FA)
        .cabinetContentSubheader Two-factor authentication adds an extra layer of security to your account by asking for a verification code when you sign in
      .cabinet__inner.cabinet__inner--standard
        +verification({
          icon: 'ver-shield.svg',
          header: 'Google authenticator',
          subheader: 'Use an app to generate time-sensitive authentication codes on your phone', 
          type: 'disabled',
          btn: 'Enable',
          link: '#authGoogle'
        })
        +verification({
          icon: 'ver-email.svg',
          header: 'Email verification',
          subheader: 'Protect your account and transactions', 
          content: 'al***@compx.com',
          btn: 'Change',
          link: '#authEmail'
        })
        +modal({
          type: 'verification'
        }).modal--wide#verification
        +modal({
          type: 'authGoogle'
        }).modal--medium#authGoogle
        +modal({
          type: 'authEmail'
        }).modal--medium#authEmail
