extends ../templates/template.pug
block content
  +header({
    type: 'user'
  }).header--inner
  .cabinet
    .cabinet__aside
      .aside
        .aside__top
          a.link.link_Arrow.asideBack(href="#") Back
          .aside__subheader Settings
          .asideItem
            a.aside__btn.aside__btn--info(href="#") Personal info
          .asideItem
            a.aside__btn.aside__btn--subheader.aside__btn--security.aside__btn--active(href="#") Security
            .asideSubmenu
              a(href="#") Two-factor authentication (2FA)
              a(href="#") Password
              a(href="#") Account activity
          .asideItem
            a.aside__btn.aside__btn--identification(href="#") Identification
          .asideItem
            a.aside__btn.aside__btn--payment(href="#") Payment
        .aside__bottom
          span.aside__copyright © 2022 Manax. All rights reserved.
    .cabinet__content.cabinet__content--dashboard
      .cabinet__content-header.cabinet__content-header--dashboard
        .cabinet__content-title Security
      .dashboard
        .dashboardItem.dashboardItem_Half.dashboardItem_Column
          +security({
            type: 'verified'
          }).module
          +password.dashboardItemInner.module
        .dashboardItem.dashboardItem_Half
          +activity.module
