extends ../templates/template.pug
block content
  +header({
    type: 'user'
  }).header--inner
  .cabinet
    .cabinet__aside
      .aside
        .aside__top
          a.link.link_Arrow.asideBack(href="#") Back
          .aside__subheader Settings
          .asideItem
            a.aside__btn.aside__btn--info(href="#") Personal info
          .asideItem
            a.aside__btn.aside__btn--subheader.aside__btn--security(href="#") Security
            .asideSubmenu
              a(href="#") Two-factor authentication (2FA)
              a(href="#") Password
              a(href="#") Account activity
          .asideItem
            a.aside__btn.aside__btn--identification.aside__btn--active(href="#") Identification
          .asideItem
            a.aside__btn.aside__btn--payment(href="#") Payment
        .aside__bottom
          span.aside__copyright © 2022 Manax. All rights reserved.
    .cabinet__content
      .cabinet__content-header.cabinet__content-header--column
        .cabinet__content-title Identification
        .cabinetContentSubheader Complete identity veryfication with KYC to use all services of Manax
      .cabinet__inner.cabinet__inner--standard
        +verification({
          icon: 'ver-id.svg',
          header: 'Identity veryfication with KYC',
          subheader: 'Personal information, Government-issued ID, Facial recognition', 
          type: 'disabled',
          btn: 'Verify',
        }).verification_Wide
