extends ../templates/template.pug
block content
  +header({
    type: 'user'
  }).header--inner
  .cabinet
    .cabinet__aside
      .aside
        .aside__top
          a.aside__btn.aside__btn--orders(href="cabinet-orders.html") Orders
          a.aside__btn.aside__btn--settings.aside__btn--active(href="cabinet-settings.html") Settings
        .aside__bottom
          a.aside__btn.aside__btn--logout(href="#") Log out
          span.aside__copyright © 2022 Manax. All rights reserved.
    .cabinet__content
      .cabinet__content-header
        .cabinet__content-title Settings
      .cabinet__inner
        .cabinet__inner-aside
          a.cabinet__inner-link.cabinet__inner-link--active(href="cabinet-settings-data.html") Personal data
          a.cabinet__inner-link(href="cabinet-settings-password.html") Password
        .cabinet__inner-content
          form.form.form--dark.cabinet__inner-form(action="#", method="POST")
            .cabinet__photo
              .cabinet__photo-picture
                //img.cabinet__photo-picture-img(src="./img/user.jpg", alt)
              .cabinet__photo-content
                +file-btn({
                  title: 'Upload new photo'
                }).cabinet__photo-file
                a.cabinet__photo-remove(href="#") Delete
            .form__item
              .form__label.form-label Full name
              input.input.form-control(type="text", name="name", placeholder="Jone Doe", required)
            .form__item
              .form__label.form-label Company
              input.input.form-control(type="text", name="company", placeholder="Company name")
            .form__item
              .form__label.form-label Email
              input.input.form-control(type="email", name="email", placeholder="you@company.com", required)
            .form__item
              .form__label.form-label Phone number
              .form__phone
                select.form-select.form__select.form__phone-select(required='')
                  option(selected value='+1') US
                  option(value='+380') UA
                input.input.form-control.form__phone-input(type="text", placeholder="+1 (555) 000-0000", name="phone")
            .form__item
              .form__label.form-label Telegram
              input.input.form-control(type="text", name="company", placeholder="@username")
            button.btn.btn-primary.mt-15(type="submit") Save
