extends ../templates/template.pug
block content
  +header({
    type: 'user'
  }).header--inner
  .cabinet
    .cabinet__aside
      .aside
        .aside__top
          a.link.link_Arrow.asideBack(href="#") Back
          .aside__subheader Settings
          .asideItem
            a.aside__btn.aside__btn--info(href="#") Personal info
          .asideItem
            a.aside__btn.aside__btn--subheader.aside__btn--security(href="#") Security
            .asideSubmenu
              a(href="#") Two-factor authentication (2FA)
              a(href="#") Password
              a(href="#") Account activity
          .asideItem
            a.aside__btn.aside__btn--identification(href="#") Identification
          .asideItem
            a.aside__btn.aside__btn--payment.aside__btn--active(href="#") Payment
        .aside__bottom
          span.aside__copyright © 2022 Manax. All rights reserved.
    .cabinet__content
      .cabinet__content-header
        .cabinet__content-title Payment
      .cabinet__inner.cabinet__inner--default
        .cabinetInnerWrapper
          form.form.form--dark(action="#", method="POST")
            .cabinet__inner-section
              h6.cabinet__inner-section-header Manage payment method
              +payment({
                icon: 'cash.svg',
                title: 'Balance',
                subtitle: '$ 0.00',
                btns: ['Deposit'],
                radio: 'balance'
              }).payment_Radio.mb-20
              +payment({
                icon: 'card.svg',
                title: 'Bank account ending in 8546',
                subtitle: 'Expiry 06/2024',
                btns: ['Delete', 'Edit'],
                radio: 'bank'
              }).payment_Radio.mb-25
              +payment({
                icon: 'paypal.svg',
                title: 'PayPal',
                subheader: 'PayPal Visa ending 3546',
                subtitle: 'Expiry 06/2024',
                btns: ['Delete', 'Edit'],
                radio: 'paypal'
              }).payment_Radio.mb-25
              a.p.link.link_Plus.mb-0(href="#paymentNew", data-fancybox) Add a payment method
          +modal({
            type: 'paymentNew'
          }).modal--thin#paymentNew
