mixin user(data)
  .user&attributes(attributes)
    if data && data.type == 'logged' 
      .user__initials AK
      .user__dropdown
        .user__dropdown-status.user__dropdown-status--verified Verified
        .user__dropdown-info
          .user__initials AK
          .user__dropdown-info-content
            h6 Albert Krungsri
            p albert@compx.com
        if data && data.modifier == 'settings'
          .user__dropdown-section
            .user__dropdown-section-header Settings
            a.user__dropdown-item.user__dropdown-item--personal(href="#") Personal info
            a.user__dropdown-item.user__dropdown-item--security(href="#") Security
            a.user__dropdown-item.user__dropdown-item--identification(href="#") Identification
            a.user__dropdown-item.user__dropdown-item--payment(href="#") Payment
        else
          a.user__dropdown-item.user__dropdown-item--personal(href="#") Personal area
        a.user__dropdown-item.user__dropdown-item--logout(href="#") Log out
    else
      .user__initials AK
      .user__dropdown
        .user__dropdown-status Verified
        .user__dropdown-info
          .user__initials AK
          .user__dropdown-info-content
            h6 Albert Krungsri
            p albert@compx.com
      .user__dropdown
        a.user__dropdown-item.user__dropdown-item--personal(href="#") Personal area
        a.user__dropdown-item.user__dropdown-item--logout(href="#") Log out
