.user {
  position: relative;
  padding: 10px 0;
  display: flex;
  align-items: center;

  @include media-breakpoint-down(sm) {
    padding: 3px 0;
  }

  &:hover {

    .user__dropdown {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__picture {
    position: relative;
    margin-right: 12px;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    background: #b374ac;
    border-radius: 50%;

    @include media-breakpoint-down(sm) {
      margin-right: 0;
    }
  }

  &__picture-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: top center;
  }

  &__content {

    @include media-breakpoint-down(sm) {
      display: none;
    }
  }

  &__subheader {
    font-size: 12px;
    line-height: 1.2;
    color: $light;
  }

  &__dropdown {
    position: absolute;
    top: 100%;
    right: -17px;
    padding: 32px 16px 4px;
    width: 224px;
    opacity: 0;
    pointer-events: none;
    background: #2f3947;
    border-radius: 8px;

    @include transition;

    @include media-breakpoint-down(sm) {
      right: -8px;
      left: auto;
    }
  }

  &__dropdown-item {
    padding: 17px 0;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    font-size: 14px;
    line-height: 1.4;
    white-space: nowrap;
    text-decoration: none;
    color: $light;
    border-top: 1px solid #3d4959;

    @include transition;

    @include media-breakpoint-down(sm) {
      font-size: 14px;
    }

    &:hover {
      color: $violet;
    }

    &:before {
      margin-right: 8px;
      display: block;
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      content: '';
    }

    &--personal {

      &:before {
        background: url(../img/user-icon.svg) no-repeat center;
      }
    }

    &--logout {

      &:before {
        background: url(../img/logout-icon.svg) no-repeat center;
      }
    }

    &--security {

      &:before {
        background: url(../img/user-security.svg) no-repeat center;
      }
    }

    &--identification {

      &:before {
        background: url(../img/user-identification.svg) no-repeat center;
      }
    }

    &--payment {

      &:before {
        background: url(../img/user-payment.svg) no-repeat center;
      }
    }
  }

  &__initials {
    margin-left: 32px;
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 1.42;
    font-weight: 500;
    text-align: center;
    color: $light;
    background: #3d5168;
    border-radius: 50%;

    @include media-breakpoint-down(md) {
      margin-left: 16px;
    }
  }

  &__dropdown-status {
    position: absolute;
    top: 0;
    left: 16px;
    padding: 2px 6px;
    font-size: 12px;
    line-height: 1.35;
    font-weight: 500;
    color: #80be76;
    background: rgba(95, 152, 86, .21);
    border-radius: 0 0 4px 4px;
  }

  &__dropdown-info {
    margin-bottom: 18px;
    display: flex;
    align-items: center;

    .user__initials {
      margin-right: 8px;
      margin-left: 0;
    }
  }

  &__dropdown-info-content {

    h6 {
      margin-bottom: 2px;
      font-size: 14px;
      line-height: 1.2;
      font-weight: 500;
      color: $light;
    }

    p {
      margin-bottom: 0;
      font-size: 12px;
      line-height: 1.2;
      color: #9fa4ac;
    }
  }

  &__dropdown-section {

    .user__dropdown-item {
      padding: 10px 0;
      border-top: 0;

      &:last-child {
        margin-bottom: 8px;
      }
    }
  }

  &__dropdown-section-header {
    margin-bottom: 8px;
    padding-top: 16px;
    font-size: 12px;
    line-height: 1.4;
    font-weight: 500;
    color: #9fa4ac;
    border-top: 1px solid #3d4959;
  }
}
