.logo {
  display: flex;
  align-items: center;
  text-decoration: none;

  &__img {
    margin-right: 4px;
  }

  &__title {
    font-size: 18px;
    line-height: 1.33;
    font-weight: 700;
    text-transform: uppercase;
    color: $light;
  }
}
