.front {
  padding: 176px 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url(../img/front.jpg) no-repeat center;
  background-size: cover;

  @include media-breakpoint-down(lg) {
    min-height: 0;
  }

  @include media-breakpoint-down(md) {
    padding: 120px 0;
  }

  &__content {
  }

  &__title {
    margin-bottom: 24px;
    text-align: center;
    color: #fff;
  }

  &__subheader {
    margin-bottom: 48px;
    //    display: flex;
    //    justify-content: center;
    //    align-items: baseline;
    font-size: 20px;
    line-height: 1.5;
    color: $light;

    @include media-breakpoint-down(lg) {
      font-size: 16px;
    }
  }

  &__subheader-accent {
    margin-left: 4px;
    padding: 0 8px;
    border: 1px solid #8fffae;
    border-radius: 4px;

    @include media-breakpoint-down(md) {
      padding: 0 4px;
    }
  }
}
