mixin front(data)
  .front&attributes(attributes)
    .container
      .front__content
        h1.front__title Looking for a white label trading platform?
        .front__subheader Turn your Forex and CFD brokerage into the 
          span.front__subheader-accent business of your dreams
        a.btn.btn-primary.btn-lg(href="#") Order now
