.file {

  &__field {

    .input-group {
      position: relative;

      label {
        padding: 20px 16px;
        display: flex;
        width: 100%;
        align-items: flex-start;
        font-size: 14px;
        line-height: 1.43;
        font-weight: 500;
        text-align: left;
        color: $violet;
        background: transparent;
        border: 1px dashed #bdaedf;

        @include media-breakpoint-down(sm) {
          white-space: normal;
        }

        br {

          @include media-breakpoint-down(sm) {
            display: none;
          }
        }

        &:before {
          margin-right: 12px;
          display: block;
          width: 24px;
          height: 24px;
          flex-shrink: 0;
          content: '';
          background: url(../img/icon-clip.svg) no-repeat center;
          background-size: contain;
        }
      }

      input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
      }
    }
  }

  &__content {
    margin-top: 10px;
    margin-bottom: 35px;
    display: none;
    justify-content: space-between;
    align-items: center;

    &--active {
      display: flex;
    }
  }

  &__content-left {
    display: flex;
    align-items: center;
  }

  &__content-picture {
    margin-right: 8px;
    display: flex;
    width: 64px;
    height: 64px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border: 1px solid #262e3a;
    border-radius: 8px;

    @include media-breakpoint-down(sm) {
      width: 48px;
      height: 48px;
    }
  }

  &__content-picture-img {
  }

  &__content-title {
    word-break: break-all;
  }

  &__content-right {
    margin-left: 16px;
    flex-shrink: 0;
  }

  &__content-size {
    font-size: 16px;
    line-height: 1.5;
    color: #9fa4ac;
  }

  &__content-right {
    display: flex;
    align-items: center;
  }

  &__content-remove {
    margin-left: 8px;
    width: 20px;
    height: 20px;
    background: url(../img/icon-trash.svg) no-repeat center;
    background-size: contain;
  }
}
