mixin file(data)
  .file&attributes(attributes)
    .file__field
      .input-group
        label.input-group-text(for='inputGroupFile02') Drag a file to this area or click to upload. <br>Suported formats: jpg, png, gif, tiff, bmp.10 Mb is max size
        input#inputGroupFile02.form-control(type='file')
    .file__content
      .file__content-left
        .file__content-picture
          img.file__content-picture-img(src="./img/file-logo.png", alt)
        p.file__content-title.text.white.mb-0 Company_Logo.png
      .file__content-right
        .file__content-size 1,2 Mb
        a.file__content-remove(href="#")
