mixin verification(data)
  .verification&attributes(attributes)
    .verificationLeft
      .verificationIcon
        img(src="./img/" + data.icon, alt)
      .verificationDscr
        h6= data.header
        p= data.subheader
    .verificationCenter
      if data && data.type == 'disabled'
        .verificationDisabled Not enabled
      else
        .verificationSuccess= data.content
    .verificationRight
      if data && data.btn == 'Enable' || data && data.btn == 'Verify'
        a.btn.btn-primary.btn-xs(href="#verification", data-fancybox)= data.btn
      else
        a.btn.btn-gray.btn-xs(href="#verification", data-fancybox)= data.btn
      if data && data.type == 'disabled'
      else
        a.verificationRemove.hint__trigger(href=data.link, data-fancybox)
          +hint({
            text: 'Remove'
          })
