.verification {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include media-breakpoint-down(md) {
    flex-wrap: wrap;
  }

  & + & {

    &:before {
      position: absolute;
      top: 0;
      left: 20px;
      display: block;
      width: calc(100% - 52px);
      height: 1px;
      content: '';
      background: #263040;
    }
  }

  &Left {
    padding: 24px 20px;
    display: flex;
    flex: 0 0 54.8%;
    align-items: flex-start;

    @include media-breakpoint-down(xxl) {
      flex: 0 0 50%;
    }

    @include media-breakpoint-down(xl) {
      padding: 16px 10px;
    }

    @include media-breakpoint-down(md) {
      width: 100%;
      flex: 1 1 auto;
    }
  }

  &Icon {
    margin-right: 12px;
    width: 24px;
    height: 24px;
    flex-shrink: 0;

    img {
      max-width: 100%;
    }
  }

  &Dscr {
    max-width: 420px;

    h6 {
      margin-bottom: 4px;
      line-height: 1.2;

      @include media-breakpoint-down(xl) {
        font-size: 16px;
      }
    }

    p {
      margin-bottom: 0;
      font-size: 14px;
      line-height: 1.2;
      color: #98a2b3;

      @include media-breakpoint-down(xl) {
        font-size: 14px;
      }
    }
  }

  &Center {
    padding: 24px 20px;
    flex: 0 0 27.1%;

    @include media-breakpoint-down(xxl) {
      flex: 0 0 25%;
    }

    @include media-breakpoint-down(xl) {
      padding: 16px 10px;
    }

    @include media-breakpoint-down(md) {
      min-width: 50%;
      max-width: 100%;
      flex: 1 1 auto;
    }
  }

  &Disabled {
    padding: 2px 6px;
    display: inline-flex;
    font-size: 12px;
    line-height: 1.35;
    font-weight: 500;
    color: #9fa4ac;
    background: #3c3f48;
    border-radius: 4px;
  }

  &Success {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.4;
    color: #fff;

    &:before {
      margin-right: 8px;
      display: block;
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      content: '';
      background: url(../img/ver-check.svg) no-repeat center;
      background-size: contain;
      border-radius: 50%;
    }
  }

  &Right {
    padding: 24px 32px 24px 20px;
    display: flex;
    max-width: 200px;
    flex: 0 0 18.1%;
    align-items: center;

    @include media-breakpoint-down(xxl) {
      flex: 0 0 25%;
    }

    @include media-breakpoint-down(xl) {
      padding: 16px 10px;
    }

    @include media-breakpoint-down(md) {
      min-width: 50%;
      max-width: 100%;
      flex: 1 1 auto;
    }

    .btn {
      width: 100%;
      max-width: 109px;
    }
  }

  &Remove {
    margin-left: 22px;
    display: flex;
    width: 20px;
    height: 20px;
    align-items: center;
    flex-shrink: 0;
    background: url(../img/icon-trash.svg) no-repeat center;
    background-size: contain;
  }

  &_Wide {

    .verificationRight {
      justify-content: flex-end;
    }
  }
}
