.feature {
  margin-bottom: 32px;
  padding: 24px 24px 32px;
  width: 100%;
  background: $gray-light;
  border-radius: 16px;

  @include media-breakpoint-down(md) {
    margin-bottom: 16px;
    padding: 16px 16px 24px;
  }

  &__icon {
    margin: -4px -4px 16px;
    display: flex;
    width: 56px;
    height: 56px;
    justify-content: center;
    align-items: center;
    background: #f4ebff;
    border: 8px solid #f9f5ff;
    border-radius: 50%;

    @include media-breakpoint-down(md) {
      margin-bottom: 12px;
    }
  }

  &__icon-img {
  }

  &__title {
    margin-bottom: 8px;
    font-weight: 500;
  }

  &__dscr {
    margin-bottom: 0;
    color: $gray;
  }
}
