.activity {

  &Header {
    padding: 24px 20px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #263040;

    @include media-breakpoint-down(sm) {
      padding: 16px 12px;
    }

    h6 {
      margin-bottom: 0;
      color: $light;
    }
  }

  &Content {
    padding: 0 20px;

    @include media-breakpoint-down(sm) {
      padding: 0 12px;
    }
  }
}
