mixin activity(data)
  .activity&attributes(attributes)
    .activityHeader
      h6 Account activity
      a.link.link_Arrow(href="#") All activities
    .activityContent
      +activityItem({
        title: 'Web'
      })
      +activityItem({
        title: 'Mobile'
      })
      +activityItem({
        title: 'Web'
      })
