.cabinet {
  position: relative;
  display: flex;
  flex-grow: 1;
  color: #fff;
  background: #181e27;

  @include media-breakpoint-down(lg) {
    min-height: 100vh;
    flex-direction: column;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__aside {
    position: sticky;
    top: 0;
    padding-top: 72px;
    display: flex;
    width: 100%;
    max-width: 255px;
    height: 100vh;
    flex-shrink: 0;

    @include media-breakpoint-down(xl) {
      max-width: 200px;
    }

    @include media-breakpoint-down(lg) {
      position: relative;
      overflow: auto;
      max-width: 100%;
      height: auto;
    }

    @include media-breakpoint-down(sm) {
      padding-top: 66px;
    }
  }

  &__content {
    padding: 110px 32px 32px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    @include media-breakpoint-down(lg) {
      padding-top: 32px;
      width: 100%;
      height: auto;
    }

    @include media-breakpoint-down(sm) {
      padding: 32px 16px;
    }

    &--dashboard {
      padding: 100px 24px 16px 8px;

      @include media-breakpoint-down(xl) {
        padding-right: 16px;
      }

      @include media-breakpoint-down(lg) {
        padding-top: 32px;
      }

      @include media-breakpoint-down(sm) {
        padding: 16px 0;
      }
    }
  }

  &__content-header {
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(sm) {
      margin-bottom: 16px;
    }

    &--back {
      margin-top: 12px;
      justify-content: flex-start;

      @include media-breakpoint-down(sm) {
        flex-wrap: wrap;
      }

      .cabinet__content-title {

        @include media-breakpoint-down(sm) {
          margin-bottom: 10px;
        }
      }
    }

    &--column {
      flex-direction: column;
      align-items: flex-start;
    }

    &--dashboard {
      padding-left: 8px;
    }
  }

  &__content-header-statuses {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      margin-top: 10px;
      width: 100%;
    }
  }

  &__content-title {
    font-size: 24px;
    line-height: 1;
    font-weight: 500;
    color: $light;

    @include media-breakpoint-down(sm) {
      font-size: 20px;
    }
  }

  &__inner {
    padding: 32px 0 40px;
    display: flex;
    flex-grow: 1;
    background: $dark;
    border-radius: 8px;

    @include media-breakpoint-down(sm) {
      padding: 0 0 16px;
      flex-direction: column;
    }

    &--default {
      padding: 32px 80px 60px 32px;
      flex-direction: column;
      flex-shrink: 0;

      @include media-breakpoint-down(xl) {
        padding-right: 32px;
      }

      @include media-breakpoint-down(sm) {
        padding: 16px;
      }
    }

    &--standard {
      padding: 0;
      flex-direction: column;
      flex-grow: 0;
    }
  }

  &__inner-aside {
    width: 100%;
    max-width: 185px;
    border-right: 1px solid #263040;

    @include media-breakpoint-down(sm) {
      display: flex;
      overflow: auto;
      max-width: 100%;
      align-items: center;
      border-right: 0;
      border-bottom: 1px solid #263040;
    }
  }

  &__inner-link {
    position: relative;
    padding: 12px 20px 12px 32px;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    text-decoration: none;
    color: $light;

    @include transition;

    @include media-breakpoint-down(md) {
      padding-right: 16px;
      padding-left: 16px;
      font-size: 14px;
    }

    @include media-breakpoint-down(sm) {
      padding: 12px;
      flex: 1 0 auto;
      justify-content: center;
      text-align: center;
    }

    &:hover {
      color: $violet;
    }

    &--active {

      &:before {
        position: absolute;
        left: 0;
        display: block;
        width: 4px;
        height: 100%;
        content: '';
        background: $violet;
        border-radius: 0 4px 4px 0;

        @include media-breakpoint-down(sm) {
          bottom: 0;
          left: 0;
          width: 100%;
          height: 4px;
          border-radius: 4px 4px 0 0;
        }
      }
    }
  }

  &__inner-content {
    padding: 0 48px;
    flex-grow: 1;

    @include media-breakpoint-down(sm) {
      padding: 16px;
    }
  }

  &__inner-form {
    padding: 0 24px;
    width: 100%;
    max-width: 380px;

    &--hor {
      display: flex;
      max-width: none;
      align-items: flex-start;

      @include media-breakpoint-down(sm) {
        padding: 24px 16px;
        flex-direction: column;
      }
    }
  }

  &__inner-section-header {
    margin-bottom: 20px;
  }

  &__photo {
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media-breakpoint-down(sm) {
      margin-bottom: 16px;
      flex-direction: row;
      align-items: center;
    }
  }

  &__photo-picture {
    position: relative;
    margin-bottom: 8px;
    display: flex;
    width: 80px;
    height: 80px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-size: 24px;
    font-weight: 500;
    color: $light;
    background: #3d5168;
    border-radius: 50%;

    @include media-breakpoint-down(sm) {
      margin-right: 12px;
      width: 60px;
      height: 60px;
      font-size: 20px;
    }
  }

  &__photo-content {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__photo-file {
    margin-right: 12px;
  }

  &__photo-picture-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: top center;
  }

  &__photo-remove {
    padding: 8px 30px;
    display: inline-flex;
    font-size: 14px;
    line-height: 1.43;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    background: #525c6a;
    border-radius: 8px;

    @include transition;

    @include media-breakpoint-down(sm) {
      margin-top: 12px;
    }

    &:hover {
      opacity: .8;
      color: #fff;
    }
  }

  &__feature {
    margin-bottom: 8px;
    display: flex;
    align-items: flex-start;
    line-height: 1.4;
    color: $light;

    &:before {
      margin-top: 3px;
      margin-right: 12px;
      display: block;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      content: '';
      background: url(../img/cabinet-feature.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__btns-wrapper {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(sm) {
      flex-direction: column;
    }
  }

  &__btn {

    @include media-breakpoint-down(sm) {
      margin-bottom: 10px;
    }
  }

  &__inner-section {
    margin-bottom: 24px;
  }

  &__section-header {
  }

  &__payment-header {
    display: flex;
    align-items: baseline;
  }

  &__inner-section-more {
    margin-top: 25px;
    display: none;
  }

  &__inner-section-more-btn {
    margin-bottom: 40px;
    display: block;
    font-size: 14px;

    &:after {
      display: none;
      content: 'Less';
    }

    &--active {
      font-size: 0 !important;

      &:after {
        display: block;
        font-size: 14px;
      }
    }
  }

  &InnerWrapper {
    width: 100%;
  }

  &InfoWrapper {
    max-width: 380px;
    flex-grow: 1;
  }

  &ContentSubheader {
    margin-top: 12px;
    max-width: 460px;
    font-size: 14px;
    line-height: 1.2;
    color: #98a2b3;
  }
}
