.remark {
  padding: 14px;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.4;
  color: $light;
  background: #2f3947;
  border-left: 4px solid $info;
  border-radius: 4px;

  &:before {
    margin-right: 12px;
    display: block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    content: '';
    background: url(../img/icon-remark.png) no-repeat center;
    background-size: contain;
  }
}
