.aside {
  padding-top: 20px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  background: $dark;

  @include media-breakpoint-down(lg) {
    padding-top: 0;
    overflow: auto;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid #2d3146;
    border-bottom: 1px solid #2d3146;
  }

  &__top {
    flex-shrink: 0;

    @include media-breakpoint-down(lg) {
      display: flex;
    }
  }

  &Back {
    margin-bottom: 36px;
    padding: 0 20px;
    flex-direction: row-reverse;

    @include media-breakpoint-down(lg) {
      margin-bottom: 0;
    }

    &:after {
      margin-right: 4px !important;
      margin-left: 0 !important;
      transform: rotate(180deg);
    }
  }

  &__subheader {
    margin-bottom: 12px;
    padding: 0 18px;
    font-size: 14px;
    line-height: 1.4;
    font-weight: 500;
    color: #9fa4ac;

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  &Item {

    @include media-breakpoint-down(lg) {
      display: flex;
    }

    &:hover {

      .asideSubmenu {
        display: block;
      }
    }
  }

  &__btn {
    padding: 18px;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    color: $light;

    @include transition;

    @include media-breakpoint-down(sm) {
      padding: 9px 12px;
      align-items: center;
      font-size: 14px;
    }

    &:hover {
      color: #fff;
      background: rgba(#2d3146, .5);
    }

    &:before {
      margin-right: 12px;
      display: block;
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      content: '';

      @include media-breakpoint-down(sm) {
        margin-right: 6px;
        width: 16px;
        height: 16px;
      }
    }

    p {
      margin-bottom: 0;
      display: inline;
    }

    span {
      margin-left: 4px;
      color: $violet;
    }

    &--active {
      position: relative;
      background: #2d3146;

      &:after {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 4px;
        height: 100%;
        content: '';
        background: $violet;
        border-radius: 0 4px 4px 0;
      }

      & + .asideSubmenu {
        display: block;
      }

      &.aside__btn--orders {

        &:before {
          background: url(../img/icon-orders-active.svg) no-repeat center;
          background-size: contain;
        }
      }

      &.aside__btn--dashboard {

        &:before {
          background: url(../img/icon-dashboard-active.svg) no-repeat center;
          background-size: contain;
        }
      }

      &.aside__btn--assets {

        &:before {
          background: url(../img/icon-assets-active.svg) no-repeat center;
          background-size: contain;
        }
      }

      &.aside__btn--history {

        &:before {
          background: url(../img/icon-history-active.svg) no-repeat center;
          background-size: contain;
        }
      }

      &.aside__btn--settings {

        &:before {
          background: url(../img/icon-settings-active.svg) no-repeat center;
          background-size: contain;
        }
      }

      &.aside__btn--envelope {

        &:before {
          background: url(../img/icon-aside-envelope-active.svg) no-repeat center;
          background-size: contain;
        }
      }

      &.aside__btn--rocket {

        &:before {
          background: url(../img/icon-aside-rocket-active.png) no-repeat center;
          background-size: contain;
        }
      }

      &.aside__btn--info {

        &:before {
          background: url(../img/icon-aside-info-active.png) no-repeat center;
          background-size: contain;
        }
      }

      &.aside__btn--check {

        &:before {
          background: url(../img/icon-aside-check-active.png) no-repeat center;
          background-size: contain;
        }
      }

      &.aside__btn--warning {

        &:before {
          background: url(../img/icon-aside-warning-active.png) no-repeat center;
          background-size: contain;
        }
      }

      &.aside__btn--security {

        &:before {
          background: url(../img/user-security-active.svg) no-repeat center;
          background-size: contain;
        }
      }

      &.aside__btn--identification {

        &:before {
          background: url(../img/user-identification-active.svg) no-repeat center;
          background-size: contain;
        }
      }

      &.aside__btn--payment {

        &:before {
          background: url(../img/user-payment-active.svg) no-repeat center;
          background-size: contain;
        }
      }
    }

    &--orders {

      &:before {
        background: url(../img/icon-orders.svg) no-repeat center;
        background-size: contain;
      }
    }

    &--settings {

      &:before {
        background: url(../img/icon-settings.svg) no-repeat center;
        background-size: contain;
      }
    }

    &--dashboard {

      &:before {
        background: url(../img/icon-dashboard.svg) no-repeat center;
        background-size: contain;
      }
    }

    &--assets {

      &:before {
        background: url(../img/icon-assets.svg) no-repeat center;
        background-size: contain;
      }
    }

    &--history {

      &:before {
        background: url(../img/icon-history.svg) no-repeat center;
        background-size: contain;
      }
    }

    &--logout {
      color: #98a2b3;

      &:before {
        background: url(../img/icon-logout.svg) no-repeat center;
        background-size: contain;
      }
    }

    &--envelope {

      &:before {
        background: url(../img/icon-aside-envelope.svg) no-repeat center;
        background-size: contain;
      }
    }

    &--rocket {

      &:before {
        background: url(../img/icon-aside-rocket.png) no-repeat center;
        background-size: contain;
      }
    }

    &--info {

      &:before {
        background: url(../img/icon-aside-info.png) no-repeat center;
        background-size: contain;
      }
    }

    &--check {

      &:before {
        background: url(../img/icon-aside-check.png) no-repeat center;
        background-size: contain;
      }
    }

    &--warning {

      &:before {
        background: url(../img/icon-aside-warning.png) no-repeat center;
        background-size: contain;
      }
    }

    &--security {

      &:before {
        background: url(../img/user-security.svg) no-repeat center;
        background-size: contain;
      }
    }

    &--identification {

      &:before {
        background: url(../img/user-identification.svg) no-repeat center;
        background-size: contain;
      }
    }

    &--payment {

      &:before {
        background: url(../img/user-payment.svg) no-repeat center;
        background-size: contain;
      }
    }

    &--subheader {
      position: relative;
      background: url(../img/aside-sub-arrow-down.svg) no-repeat center right 22px;

      &:hover {
        background: #2d3146 url(../img/aside-sub-arrow-down.svg) no-repeat center right 22px;
      }

      &.aside__btn--active {
        background: #2d3146 url(../img/aside-sub-arrow-up.svg) no-repeat center right 22px;

        & + .asideSubmenu {
          display: block;

          @include media-breakpoint-down(lg) {
            display: flex;
          }
        }
      }
    }
  }

  &__bottom {
    padding-bottom: 24px;
    flex-shrink: 0;

    @include media-breakpoint-down(lg) {
      padding-bottom: 0;
      display: flex;
      align-items: center;
    }
  }

  &__copyright {
    margin-top: 18px;
    padding: 0 24px;
    display: block;
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    color: #98a2b3;

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  &Submenu {
    display: none;

    @include media-breakpoint-down(xl) {
      display: block;
    }

    @include media-breakpoint-down(lg) {
      display: flex;
      border-right: 1px solid #2d3146;
    }

    a {
      position: relative;
      padding: 12px 18px 12px 54px;
      display: block;
      font-size: 16px;
      line-height: 1.5;
      text-decoration: none;
      color: $light;

      @include transition;

      @include media-breakpoint-down(lg) {
        padding: 12px 18px;
        display: flex;
        align-items: center;
        font-size: 12px;
        border-left: 1px solid #2d3146;
      }

      @include media-breakpoint-down(md) {
        padding: 9px 12px;
      }

      &:hover {
        color: #fff;
        background: rgba(#2d3146, .5);
      }

      &.asideSublink_Active {
        background: #2d3146;

        &:before {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 4px;
          height: 100%;
          content: '';
          background: $violet;
          border-radius: 0 4px 4px 0;
        }
      }
    }

    &_Active {
      display: block;

      @include media-breakpoint-down(lg) {
        display: flex;
      }
    }
  }
}
