mixin start(data)
  .start&attributes(attributes)
    .startHeader
      h6 Welcome to Manax, we’re glad you are onboard!
      p.sm Just a few more steps and you are good to go
    .startContent
      +step({
        number: 'check',
        title: 'Register account',
      })
      if data && data.type == 'progress'
        +step({
          type: 'pending',
          number: '2',
          title: 'Identity verification',
          dscr: 'Verivication in progress. <br>It could take to 48 hours'
        })
      else if data && data.type == 'order'
        +step({
          number: 'check',
          title: 'Identity verification',
          dscr: 'Complete the indetity verification with KYC'
        })
      else
        +step({
          type: 'active',
          number: '2',
          title: 'Identity verification',
          dscr: 'Complete the indetity verification with KYC',
          btn: 'Verify'
        })
      if data && data.type == 'order'
        +step({
          type: 'active',
          number: '3',
          title: 'Order exchange',
          dscr: 'Customise features and start trading',
          btn: 'Order'
        })
      else
        +step({
          number: '3',
          title: 'Order exchange',
          dscr: 'Customise features and start trading'
        })
