.start {
  padding: 24px 20px;
  width: 100%;
  background: url(../img/start-bg.png) no-repeat center;
  background-size: cover;
  border-radius: 8px;

  @include media-breakpoint-down(sm) {
    padding: 16px 12px;
  }

  &Header {
    margin-bottom: 24px;

    h6 {
      margin-bottom: 0;
      color: $light;
    }

    p {
      margin-bottom: 0;
      color: #98a2b3;
    }
  }

  &Content {
    display: flex;

    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
