mixin notifications(data)
  .notifications&attributes(attributes)
    .notificationsHeader
      .notificationsHeaderItem Message
      .notificationsHeaderItem Date
    .notificationsContent
      +notification({
        icon: 'rocket',
        header: 'Special offer',
        dscr: 'Order 2 exchanges and get 1 free with all basic features',
        time: '23 minutes ago'
      }).notification_New
      +notification({
        icon: 'warning',
        header: 'A resent sign-in to your account from unknown device or browser',
        dscr: 'The system has detected that your account is logged in from an unused IP address. Account: albert@compx.com Device: Chrome V102.0.0.0 (Windows) Time: 2022-06-21 06:02:49(UTC) IP: 44.287.88.134 If this activity is not your own operation, please disable your account and contact us immediately.',
        time: '1 hour ago'
      }).notification_New
      +notification({
        icon: 'info',
        header: 'Company news',
        dscr: 'New services are available now',
        time: '18 hours ago'
      }).notification_New
      +notification({
        icon: 'check',
        header: 'Verification completed',
        dscr: 'All functions are available for you',
        time: '1 day ago'
      })
      +notification({
        icon: 'info',
        header: 'Company news',
        dscr: 'New services are available now',
        time: '3 days ago'
      })
      +notification({
        icon: 'info',
        header: 'Company news',
        dscr: 'New services are available now',
        time: '3 days ago'
      })
      +notification({
        icon: 'info',
        header: 'Company news',
        dscr: 'New services are available now',
        time: '3 days ago'
      })
      +notification({
        icon: 'info',
        header: 'Company news',
        dscr: 'New services are available now',
        time: '6 June 2022'
      })
      +notification({
        icon: 'info',
        header: 'Company news',
        dscr: 'New services are available now',
        time: '6 June 2022'
      })
      +notification({
        icon: 'info',
        header: 'Company news',
        dscr: 'New services are available now. Some really long long text with button more at the end new services are available now. Some really long long text with button more at the end',
        time: '26 April 2022'
      })
