.notifications {
  background: #1f2733;
  border-radius: 8px;

  &Header {
    padding: 0 12px;
    display: flex;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &HeaderItem {
    padding: 12px 20px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    font-size: 12px;
    line-height: 1.67;
    color: #9fa4ac;

    @include transition;

    &:nth-child(1) {
      flex: 0 0 80%;
    }

    &:nth-child(2) {
      flex: 0 0 20%;
    }

    &:hover {
      opacity: .8;
    }

    &:after {
      margin-top: -1px;
      margin-left: 6px;
      display: block;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      content: '';
      background: url(../img/icon-sorting.svg) no-repeat center;
    }
  }

  &Content {
  }
}
