.notification {
  display: flex;
  border-top: 1px solid #263040;

  @include media-breakpoint-down(md) {
    flex-direction: column;
    align-items: flex-start;
  }

  @include transition;

  &:hover {
    background: #252e3c;
  }

  &:first-child {

    @include media-breakpoint-down(md) {
      border-top: 0;
    }
  }

  &Main {
    padding: 16px 32px;
    display: flex;
    flex: 0 0 80%;
    align-items: flex-start;

    @include media-breakpoint-down(md) {
      padding: 16px;
      flex: 1 1 auto;
    }
  }

  &Icon {
    margin-right: 8px;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    opacity: .5;

    img {
      max-width: 100%;
    }
  }

  &Content {
    max-width: 550px;

    @include media-breakpoint-down(xl) {
      max-width: 400px;
    }

    @include media-breakpoint-down(md) {
      max-width: 100%;
    }

    h6 {
      margin-bottom: 2px;
      font-size: 14px;
      line-height: 1.4;
      font-weight: 500;
    }

    p {
      margin-bottom: 0;
      display: flex;
      align-items: flex-end;
      font-size: 12px;
      line-height: 1.4;
      font-weight: 500;
    }
  }

  &Text {
    display: block;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #9fa4ac;

    @include media-breakpoint-down(md) {
      white-space: normal;
    }

    &_Open {
      overflow: visible;
      white-space: normal;
      text-overflow: inherit;
    }
  }

  &Btn {
    margin-bottom: -1px;
    margin-left: 4px;
    display: none;
    font-size: 14px;
    line-height: 1.43;
    text-decoration: none;
    color: $violet;

    @include media-breakpoint-down(md) {
      display: none;
    }

    &_Active {
      display: inline;

      @include media-breakpoint-down(md) {
        display: none;
      }
    }

    span {
      display: none;
    }

    &_Less {
      font-size: 0;

      span {
        display: inline;
        font-size: 14px;
      }
    }
  }

  &Time {
    padding: 16px 20px;
    flex: 0 0 20%;
    font-size: 12px;
    line-height: 1.4;
    color: #9fa4ac;

    @include media-breakpoint-down(md) {
      padding-top: 0;
      padding-left: 40px;
      flex: 1 1 auto;
    }
  }

  &_New {

    .notificationIcon {
      opacity: 1;
    }

    .notificationText {
      color: $light;
    }

    .notificationTime {
      color: $light;
    }
  }
}
