mixin notification(data)
  .notification&attributes(attributes)
    .notificationMain
      .notificationIcon
        img(src="./img/notification-" + data.icon + '.png' alt)
      .notificationContent
        h6= data.header
        div
          p
            span.notificationText= data.dscr
            a.notificationBtn(href="#") more
              span less
    .notificationTime= data.time
