.create {
  margin-bottom: 16px;
  padding: 24px 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #53389e;
  border-radius: 8px;

  @include media-breakpoint-down(sm) {
    padding: 16px 12px;
    flex-direction: column;
    align-items: flex-start;
  }

  &Header {

    @include media-breakpoint-down(sm) {
      margin-bottom: 10px;
    }

    h6 {
      margin-bottom: 4px;
      line-height: 1.2;
      color: $light;
    }

    p {
      margin-bottom: 0;
      font-size: 14px;
      line-height: 1.2;
      color: #98a2b3;

      @include media-breakpoint-down(xxl) {
        font-size: 12px;
      }
    }
  }
}
