.menu {

  &__btn {
    display: none;

    @include media-breakpoint-down(lg) {
      position: absolute;
      z-index: 2;
      top: 50%;
      right: 0;
      display: block;
      width: 44px;
      height: 44px;
      background: url(../img/menu.svg) no-repeat center;
      background-size: 50%;
      border: 1px solid #fff;
      border-radius: 8px;
      transform: translateY(-50%);
    }

    &--active {
      background: url(../img/close.svg) no-repeat center;
      background-size: 40%;
    }
  }

  &__content {
    display: flex;

    @include media-breakpoint-down(lg) {
      display: none;
    }

    &--active {

      @include media-breakpoint-down(lg) {
        position: fixed;
        top: 0;
        left: 0;
        padding: 120px 32px 84px;
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background: #53389e;
      }
    }
  }

  &__link {
    margin-right: 32px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    text-decoration: none;
    color: $light;

    @include transition;

    &:hover {
      color: lighten($primary, 10%);
    }

    @include media-breakpoint-down(lg) {
      margin-right: 0;
      margin-bottom: 32px;
      font-size: 32px;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 24px;
      font-size: 18px;
    }
  }
}
