mixin menu(data)
  .menu&attributes(attributes)
    a.menu__btn(href="#")
    .menu__content
      a.menu__link(href="#") Home
      a.menu__link(href="#") Features
      a.menu__link(href="#") Pricing
      a.menu__link(href="#") Integrations
      a.menu__link(href="#") Contact
