mixin keys(data)
  .keys&attributes(attributes)
    - var values = ['4j6kfhst', '4j6kfhst', '4j6kfhst', 'klf4gtbb', 'klf4gtbb', 'klf4gtbb', '4j6kfhst', '4j6kfhst', '4j6kfhst', 'klf4gtbb', 'klf4gtbb', 'klf4gtbb']
    each val in values
      span= val
