.integrations {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__content {
    margin: 0 auto;
    display: flex;
    max-width: 960px;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 20px;

    @include media-breakpoint-down(lg) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      max-width: 100%;
    }

    @include media-breakpoint-down(sm) {
      grid-template-columns: 1fr 1fr;
      width: 100%;
    }
  }

  &__item {
    position: relative;
    padding: 12px;
    display: flex;
    width: 176px;
    height: 80px;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 8px;

    @include media-breakpoint-down(lg) {
      margin: 0;
      width: auto;
    }

    @include media-breakpoint-down(md) {
      height: 80px;
    }

    &:nth-child(9n + 6) {
      margin-left: 20px;

      @include media-breakpoint-down(lg) {
        margin-left: 0;
      }
    }

    &:nth-child(9n + 9) {
      margin-right: 20px;

      @include media-breakpoint-down(lg) {
        margin-right: 0;
      }
    }

    &:nth-child(n + 19) {
      display: none;
    }

    &:nth-child(n + 9) {

      @include media-breakpoint-down(lg) {
        display: none;
      }
    }
  }

  &__item-img {
    max-width: 100%;
    max-height: 100%;
  }

  &__btn {
    margin-top: 64px;

    @include media-breakpoint-down(lg) {
      margin-top: 32px;
    }
  }
}
