mixin integrations(data)
  .integrations&attributes(attributes)
    .integrations__content
      - for (var i = 1; i <= 32; ++i) {
        .integrations__item
          img.integrations__item-img(src="./img/int-" + i + ".png", alt)
      - }
    a.btn.btn-primary.integrations__btn(href="#") View all integrations
