.select {
  min-width: 94px;

  &--dark {

    .select2-container .select2-selection--single,
    .select2-container--default .select2-selection--multiple {
      height: 40px;
      background: #232b37;
      border: 1px solid #3d4959;
    }

    .select2-container .select2-selection--single .select2-selection__rendered,
    .select2-container--default .select2-selection--multiple .select2-selection__rendered {
      height: 40px;
      color: $light;
    }
  }

  &--normal {

    .select2-container--default .select2-results > .select2-results__options li:before {
      display: none;
    }
  }

  &_Countries {

    .select2-container--default .select2-results > .select2-results__options li {

      &:before {
        display: none;
      }

      span {
        display: flex;
        align-items: center;

        img {
          margin-right: 12px;
          width: 20px;
          height: 20px;
          flex-shrink: 0;
        }
      }
    }
  }
}
