mixin select(data)
  .select&attributes(attributes)
    if data && data.multiple 
      select.select__input(data-placeholder=data.placeholder, multiple)
        option(disabled, selected)
        if block  
          block
        else
          option Вариант 1
          option Вариант 2
          option Вариант 3
          option Вариант 4
          option Вариант 5
    else if data && data.type == 'selected'
      select.select__input
        if block
          block
    else
      select.select__input
        option(disabled, selected)
        if block  
          block
        else if data && data.type == 'countries'
          option(value="uae") United Arab Emirates (‫الإمارات العربية المتحدة‬)
          option(value="am") Armenia
          option(selected, value="us") United States
          option(value="cz") Czech Republic (Česká republika)
          option(value="in") Indonesia
          option(value="uae") United Arab Emirates (‫الإمارات العربية المتحدة‬)
          option(value="am") Armenia
          option(value="us") United States
          option(value="cz") Czech Republic (Česká republika)
          option(value="in") Indonesia
        else
          option Вариант 1
          option Вариант 2
          option Вариант 3
          option Вариант 4
          option Вариант 5
