.header {

  &__wrapper {
    position: relative;
    padding: 18px 0;
    display: flex;
    min-height: 72px;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(lg) {
      padding-right: 56px;
    }

    @include media-breakpoint-down(sm) {
      padding: 10px 0;
    }
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 48px;
  }

  &__right {
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__stats {
    margin-right: 32px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(md) {
      margin-right: 16px;
    }
  }

  &__stats-icon {
    position: relative;
    margin-right: 16px;
    width: 24px;
    height: 24px;
    background: url(../img/icon-cart.svg) no-repeat center;
    background-size: contain;

    span {
      position: absolute;
      top: -2px;
      right: -10px;
      padding: 1px 4px 2px;
      font-size: 10px;
      font-weight: 500;
      color: #fff;
      background: #5c6372;
      border-radius: 10px;
    }
  }

  &__stats-content {

    @include media-breakpoint-down(sm) {
      display: none;
    }

    p {
      margin-bottom: 2px;
      font-size: 10px;
      line-height: 1.2;
      font-weight: 500;
      color: #98a2b3;
    }

    h6 {
      margin-bottom: 0;
      font-family: $font-family-secondary;
      font-size: 14px;
      line-height: 1.15;
      font-weight: 500;
      color: $light;
    }
  }

  &__btn {
    margin-right: 12px;

    &:last-child {
      margin-right: 0;
    }

    &--text {
      font-weight: 400;

      &:hover {
        color: #fff !important;
        cursor: text;
      }
    }
  }

  &__info {
    display: flex;
    align-items: center;
  }

  &__info-item {
    position: relative;
  }

  &__info-btn {
    position: relative;
    z-index: 1;
    display: block;
    width: 24px;
    height: 24px;

    &--notifications {
      background: url(../img/icon-notifications.svg) no-repeat center;
      background-size: contain;
    }

    &--notifications-true {

      &:before {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 10px;
        height: 10px;
        content: '';
        background: #f65a4e;
        border-radius: 50%;
      }
    }
  }

  &--absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  &--login {

    .header__right {

      @include media-breakpoint-down(md) {
        display: flex;
      }
    }

    .header__right-title {

      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }

  &--menu {

    .header__logo {

      @include media-breakpoint-down(lg) {
        z-index: 2;
      }
    }

    .logo {

      @include media-breakpoint-down(lg) {
        padding-left: 50px;
        height: 46px;
        background: url(../img/logo--green.svg) no-repeat left 3px top 2px;
        background-size: 40px auto;
      }
    }

    .logo__img {

      @include media-breakpoint-down(lg) {
        display: none;
      }
    }

    .header__right {

      @include media-breakpoint-down(lg) {
        position: fixed;
        z-index: 2;
        bottom: 20px;
        left: 50%;
        display: flex;
        width: 100%;
        justify-content: center;
        transform: translateX(-50%);
      }
    }

    .btn-primary {

      @include media-breakpoint-down(lg) {
        border-color: #fff;
      }
    }
  }

  &--inner {
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    background: #1f2733;

    .header__container {
      padding-right: 38px;
      padding-left: 24px;
      max-width: 100%;

      @include media-breakpoint-down(sm) {
        padding-right: 16px;
        padding-left: 16px;
      }
    }

    .header__wrapper {
      padding: 6px 0;

      @include media-breakpoint-down(lg) {
        padding-right: 0;
      }
    }

    .header__right {

      @include media-breakpoint-down(md) {
        display: flex;
      }
    }
  }
}
