mixin header(data)
  .header&attributes(attributes)
    .container.header__container
      .header__wrapper
        .header__left
          +logo.header__logo
          if data && data.type == 'menu'
            +menu
        .header__right
          if data && data.modifier == 'info'
            .header__stats
              a.header__stats-icon(href="#")
                span 12
              .header__stats-content
                p Next billing 5/22/2022
                h6 $29,878,612.13
          if data && data.type == 'user'
            if data && data.modifier == 'notifications'
              .header__info
                .header__info-item.popup_Trigger
                  if data && data.modifier == 'notifications'
                    a.header__info-btn.header__info-btn--notifications.header__info-btn--notifications-true(href="#")
                    +popup({
                      type: 'notifications',
                      notifications: data.notifications
                    })
            else
              .header__info
                a.header__info-btn.header__info-btn--notifications(href="#")
            if data && data.settings
              +user({
                type: 'logged',
                modifier: 'settings'
              })
            else
              +user({
                type: 'logged'
              })
          else if data && data.modifier == 'notifications'
          else
            if data && data.btnLink
              p.text-light.header__right-title.mb-0.me-25= data.btnLink 
            else
              a.btn.btn-link.btn-link--white.btn-sm.header__btn(href="#") Log in
            if data && data.btnText
              a.btn.btn-primary.btn-sm.header__btn(href="#") Sign in
            else
              a.btn.btn-primary.btn-sm.header__btn(href="#") Sign up
          if data && data.type == 'logged' || data && data.type == 'initials'
            .header__info
              .header__info-item.popup_Trigger
                if data && data.modifier == 'notifications'
                  a.header__info-btn.header__info-btn--notifications.header__info-btn--notifications-true(href="#")
                  +popup({
                    type: 'notifications',
                    notifications: data.notifications
                  })
                else if data && data.modifier == 'notificationsNone'
                  a.header__info-btn.header__info-btn--notifications(href="#")
              //if data && data.type == 'logged' || data && data.type == 'initials'
                +user({
                  type: 'logged'
                })
