.form {

  &Header {
    margin-bottom: 24px;
    display: flex;
    align-items: baseline;

    p {
      margin-right: 12px;
      margin-bottom: 0;
    }

    .link {
      font-size: 14px;
    }
  }

  &__subheader {
    margin-bottom: 48px;
    color: $gray;

    @include media-breakpoint-down(xl) {
      margin-bottom: 24px;
    }
  }

  &__item {
    position: relative;
    margin-bottom: 24px;

    &--optional {

      &:before {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        font-size: 14px;
        line-height: 20px;
        content: 'optional';
        color: #667085;
      }
    }
  }

  &__item-password {
    position: relative;

    .input {
      padding-right: 36px;
    }
  }

  &__label {
    margin-bottom: 6px;
    font-size: 14px;
    line-height: 1.43;
    font-weight: 500;

    &--check {
      margin-bottom: 18px;
    }
  }

  &__phone {
    display: flex;
  }

  &__select {
    height: 48px;
    font-size: 16px;
    line-height: 1.5;
    color: $black;
    border: 1px solid #d0d5dd;
    border-right: 0;
    -moz-appearance: none;
    appearance: none;

    &:focus {
      border-color: #d0d5dd;
      outline: none;
      box-shadow: none;
    }
  }

  &__phone-select {
    padding-left: 16px;
    max-width: 75px;
    border-right: 0;
    border-radius: 8px 0 0 8px;
  }

  &__phone-input {
    padding-left: 0;
    border-left: 0;
    border-radius: 0 8px 8px 0;
    box-shadow: none;
  }

  &__check {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 1.5;
    color: $gray;

    &--enter {
      margin-top: 34px;
      margin-bottom: 24px;
    }
  }

  &__content {
  }

  &__success {
    display: none;
    font-size: 20px;
    text-align: center;
  }

  &__link {
    margin-top: 24px;
    display: block;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    text-decoration: none;
    color: #9a7ddb;

    @include transition;
  }

  &__password-view {
    position: absolute;
    top: 50%;
    right: 16px;
    width: 16px;
    height: 16px;
    background: url(../img/icon-visible.svg) no-repeat center;
    background-size: contain;
    transform: translateY(-50%);

    @include transition;

    &:hover {
      opacity: .7;
    }

    &--active {
      background: url(../img/icon-visibility.svg) no-repeat center;
      background-size: contain;
    }
  }

  &__password-strength {
    margin-top: 12px;
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    line-height: 1.43;
    color: $gray;

    &:before {
      margin-right: 12px;
      display: block;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      content: '';
      background: url(../img/strength.svg) no-repeat center;
      background-size: contain;
    }

    &--active {
      color: #9fa4ac;

      &:before {
        background: url(../img/strength-check.svg) no-repeat center;
        background-size: contain;
      }
    }
  }

  &__checks-section {
    padding-right: 40px;
    padding-left: 40px;
    border-right: 1px solid #263040;

    @include media-breakpoint-down(xl) {
      padding-top: 16px;
      padding-right: 16px;
      padding-left: 16px;
      border-top: 1px solid #263040;
      border-right: 0;
    }

    &:first-child {
      padding-left: 16px;

      @include media-breakpoint-down(xl) {
        padding-left: 16px;
      }
    }

    &:last-child {
      border-right: 0;
    }
  }

  &--dark {

    .form__label {
      color: #9fa4ac;
    }

    .input {
      color: #fff;
      background: #2f3947;
      border: 1px solid #3d4959;
      box-shadow: 0 1px 2px rgba(16, 24, 40, .05);
    }

    .form__phone-select {
      color: #9fa4ac;
      background: #2f3947 url(../img/select-arrow-dark.svg) no-repeat center right 12px;
      border-color: #3d4959;
    }

    .form__phone-input {
      padding-left: 16px;
      border-left: 0;
    }

    .form-check-input {
      background: #2f3947;
      border-color: #3d4959;

      &:checked {
        background-color: $primary;
        border-color: $primary;
      }
    }

    .form-check-label {

      a {
        text-decoration: none;
        color: #9a7ddb;
      }
    }

    .select2-container .select2-selection--single .select2-selection__rendered,
    .select2-container--default .select2-selection--multiple .select2-selection__rendered {
      color: #fff;
    }
  }
}
