mixin form(data)
  form.form.js-submit(action="send.php", method="POST")&attributes(attributes)
    h4.mb-20 Let’s start your project
    p.lg.form__subheader Our friendly team would love to hear from you.
    .form__content
      .row
        .col-xl-6
          .form__item
            .form__label.form-label Company
            input.input.form-control(type="text", name="company", placeholder="Company name")
        .col-xl-6
          .form__item
            .form__label.form-label Contact person
            input.input.form-control(type="text", name="name", placeholder="Full name")
      .form__item
        .form__label.form-label Email
        input.input.form-control(type="email", name="email", placeholder="you@company.com", required)
      .form__item
        .form__label.form-label Phone number
        .form__phone
          select.form-select.form__select.form__phone-select(required='')
            option(selected value='+1') US
            option(value='+380') UA
          input.input.form-control.form__phone-input(type="text", placeholder="+1 (555) 000-0000", name="phone", required)
      .form__item
        .form__label.form-label Message
        textarea.input.input--textarea.form-control(name="message", placeholder="you@company.com")
      .form-check.form__check
        input.form-check-input#agreement(type='checkbox' value='' required)
        label.form-check-label(for='agreement') You agree to our friendly 
          a(href="#") privacy policy
          |.
      button.btn.btn-primary.w-100(type="submit") Send message
    .form__success Your message successfully sent!
