mixin popup(data)
  .popup&attributes(attributes)
    if data && data.type == 'notifications'
      .popupWrapper
        .popupHeader
          .popupLeft
            p Notifications
            span 6
          .popupRight
            a.link(href="#") Mark all as read
        .popupContent
          - var number = data.notifications
          case number
            when 3
              +notification({
                icon: 'rocket',
                header: 'Special offer',
                dscr: 'Order 2 exchanges and get 1 free with all basic features',
                time: 'Just now'
              })
              +notification({
                icon: 'warning',
                header: 'A resent sign-in to your account from unknown device or browser',
                dscr: 'A resent sign-in to your account from unknown device...',
                time: '3 minutes ago'
              })
              +notification({
                icon: 'info',
                header: 'Company news',
                dscr: 'New services are available now',
                time: '2 hours ago'
              })
            when 6
              +notification({
                icon: 'rocket',
                header: 'Special offer',
                dscr: 'Order 2 exchanges and get 1 free with all basic features',
                time: 'Just now'
              })
              +notification({
                icon: 'warning',
                header: 'A resent sign-in to your account from unknown device or browser',
                dscr: 'A resent sign-in to your account from unknown device...',
                time: '3 minutes ago'
              })
              +notification({
                icon: 'info',
                header: 'Company news',
                dscr: 'New services are available now',
                time: '2 hours ago'
              })
              +notification({
                icon: 'check',
                header: 'Verification completed',
                dscr: 'All functions are available for you',
                time: '1 day ago'
              })
              +notification({
                icon: 'rocket',
                header: 'Special offer',
                dscr: 'Order 2 exchanges and get 1 free with all basic features',
                time: 'Just now'
              })
              +notification({
                icon: 'warning',
                header: 'A resent sign-in to your account from unknown device or browser',
                dscr: 'A resent sign-in to your account from unknown device...',
                time: '3 minutes ago'
              })
            default
              .popupEmpty
                .popupEmptyIcon
                p There are no new notifications
        .popupFooter
          a.link.link_Arrow(href="#") View all
