.popup {
  position: absolute;
  top: 0;
  right: -14px;
  padding-top: 40px;
  width: 376px;
  opacity: 0;
  pointer-events: none;

  @include media-breakpoint-down(sm) {
    right: -70px;
    width: 280px;
  }

  &_Trigger {

    &:hover {

      .popup {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &Wrapper {
    background: #2f3947;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(16, 24, 40, .05), 0 12px 16px rgba(16, 24, 40, .1);
  }

  &Header {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #3d4959;
  }

  &Left {
    display: flex;
    align-items: center;

    p {
      margin-bottom: 0;
      font-size: 12px;
      line-height: 1.4;
      font-weight: 500;
      color: #9fa4ac;
    }

    span {
      margin-left: 4px;
      display: block;
      width: 17px;
      height: 17px;
      flex-shrink: 0;
      font-size: 12px;
      line-height: 17px;
      font-weight: 600;
      text-align: center;
      color: #fff;
      background: $primary;
      border-radius: 50%;
    }
  }

  &Right {

    .link {
      font-size: 12px;
      font-weight: 500;
    }
  }

  &Content {
    position: relative;
    overflow: hidden;
    max-height: 384px;

    @include media-breakpoint-down(md) {
      max-height: 200px;
    }
  }

  &Empty {
    padding: 40px 0 56px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin-bottom: 0;
      font-size: 12px;
      line-height: 1.2;
      font-weight: 400;
      color: $light;
    }
  }

  &EmptyIcon {
    margin-bottom: 10px;
    width: 24px;
    height: 24px;
    background: url(../img/icon-bell.svg) no-repeat center;
    background-size: contain;
  }

  &Footer {
    padding: 12px 18px 20px;
    border-top: 1px solid #3d4959;
  }

  .notification {
    position: relative;
    padding: 18px 16px;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    color: $light;
    border: 0;

    @include media-breakpoint-down(md) {
      padding-top: 12px;
      padding-bottom: 12px;
    }

    & + .notification {

      &:before {
        position: absolute;
        z-index: 1;
        top: 0;
        margin: 0 auto;
        display: block;
        width: calc(100% - 32px);
        height: 1px;
        content: '';
        background: #3d4959;
      }
    }

    .notificationMain {
      padding: 0;
      flex: 1 1 auto;
    }

    .notificationContent {
      max-width: none;

      h6 {
        font-weight: 400;
      }
    }

    .notificationBtn {
      display: none;
    }

    .notificationTime {
      margin-top: 2px;
      margin-left: 24px;
      padding: 0;
      flex: 1 0 auto;
      font-size: 10px;
    }
  }
}
