.back {
  margin-right: 12px;
  display: block;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  content: '';
  background: url(../img/arrow-back.svg) no-repeat center;
  background-size: contain;

  @include transition;

  @include media-breakpoint-down(sm) {
    margin-bottom: 10px;
  }

  &:hover {
    opacity: .8;
  }
}
